<!-- .content -->
<section class="site-content">
  <div class="white-wrap">
    <div class="wrap">
      <% if @taxon.children.empty? %>
      Ничего не найдено.
      <% else %>
      <!-- .brands -->
      <section class="brands">

        <% @taxon.children_sorted.each do |brand| %>
        <!-- item -->
        <article>
          <h2><%= link_to brand.name, brand.permalink %></h2>
          <ul>
          	<% brand.links.each do|link|%>
          		<li><%=raw link.link %></li>
          	<% end %>
          </ul>
        </article>
        <!-- /item -->
        <% end %>

      </section>
      <!-- /.brands -->
      <% end %>

    </div>
    <!-- /.wrap -->
  </div>
  <!-- /.white-wrap -->
</section>
<!-- /.content -->