<!-- .content -->
  <% cache({:action => 'taxons_index', :action_suffix => @taxon.name}, :expires_in => 3.hours) do %>
  <section class="site-content">
    <div class="white-wrap">
      <div class="wrap">
        <% if @taxon.children.empty? %>
          Ничего не найдено.
        <% else %>
          <!-- .brands -->      
          <section class="brands">
            
            <% @taxon.children.each do |brand| %>
            <!-- item -->
            <article>
              <h2><%= link_to brand.name, brand.permalink %></h2>
              <ul>
                <% brand_categories(brand).each do |category| %>
                  <!-- <li><%= link_to category.name, crosstaxons_path(brand: brand.permalink_end, category: category.permalink_end) %></li> -->
                  <% if category.children.present? %>
                    <ul>
                    <% brand_categories(brand, category).each do |subcategory| %>
                      <% if subcategory.id != 2 %>
                      <li><%= link_to subcategory.name, 
                                      crosstaxons_path(brand: brand.permalink_end, category: category.permalink_end, subcategory: subcategory.permalink_end) %>
                      </li>
                      <% end %>
                    <% end %>
                    </ul>
                  <% end %>
                <% end %>
              </ul>
            </article>
            <!-- /item -->
            <% end %>

          </section>
          <!-- /.brands -->
        <% end %>

      </div>
      <!-- /.wrap -->
    </div>
    <!-- /.white-wrap -->
  </section>
  <% end %>
<!-- /.content -->