<!-- .account -->
  <section class="account">
    <header>
      <h1>Оформление заказа</h1>
        <!-- .breadcrumps -->
        <nav class="breadcrumps">
          <ul>
            <li><a href="">Авторизация</a>&nbsp;></li>
            <li class="current">Адрес&nbsp;></li>
            <li class="step">Доставка&nbsp;></li>
            <li class="step">Оплата&nbsp;></li>
            <li class="step">Подтверждение</li>
          </ul>
        </nav>
        <!-- /.breadcrumps -->
    </header>
  </section>
<!-- /.account -->