<% states = %w(cart address delivery payment confirm) %>
<!-- .account -->
  <section class="account">
    <header>
      <h1>Оформление заказа</h1>
        <!-- .breadcrumps -->
        <nav class="breadcrumps">
          <ul>
            <% states.each_with_index do |state| %>
              <% if states.index(state) < states.index(@order.state) %>
                <li><%= link_to I18n.t('checkout.' + state), checkout_state_path(state) %>&nbsp;></li>
              <% elsif states.index(state) == states.index(@order.state) %>
                <li class="current"><%= I18n.t('checkout.' + state) %>&nbsp;></li>
              <% elsif states.index(state) > states.index(@order.state) %>
                <li class="step"><%= I18n.t('checkout.' + state) %>&nbsp;></li>
              <% end %>
            <% end %>
          </ul>
        </nav>
        <!-- /.breadcrumps -->
    </header>
  </section>
<!-- /.account -->