<!-- summary of item -->
<div class="summary pinup">
  <h3>Сводка по заказу</h3><br>

  <!-- .item -->
  <div class="item">
    <span class="name">Товары</span>
    <spnan class="price"><%= order.item_total %> <span class="rouble">p</span></spnan>
  </div>
  <!-- /.item -->
  <!-- .item -->
  <% @order.adjustments.each do |adjustment| %>
    <div class="item">
      <span class="name"><%= adjustment.label %></span>
      <spnan class="price"><%= adjustment.amount %> <span class="rouble">p</span></spnan>
    </div>
  <% end %>
  <!-- /.item -->
  <!-- .item -->
  <div class="item all">
    <span class="name">Итого</span>
    <spnan class="price"><%= @order.total %> <span class="rouble">p</span></spnan>
  </div>
  <!-- /.item -->
</div>
<!-- /summary of item -->