<!-- .content -->
  <section class="site-content">
    <div class="white-wrap">
      <div class="wrap">
      
        <%= render 'checkout_breadcrumbs' %>

          <!-- .forms -->
            <section class="forms checkout">

              <% if @order.state != 'confirm' %>
                <%= render 'summary', :order => @order %>
              <% end %>

              <!-- form .formset -->
              <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
                <%= render @order.state, :form => form %>
                <input id="post-final" type="submit" style="display:none"/>
              <% end %>
              <!-- form .formset -->

          </section>
          <!-- /.forms -->
        </div>
      <!-- /.wrap -->
    </div>
    <!-- /.white-wrap -->
  </section>
<!-- /.content -->