<!-- .content -->
  <section class="site-content">
    <div class="white-wrap">
      <div class="wrap">
      
        <%= render 'checkout_breadcrumbs' %>

          <!-- .forms -->
            <section class="forms checkout">
              <header>
                <h3>Адреса</h3><a href="">Добавить</a>
              </header>

              <!-- form .formset -->
                <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
                  <%= render @order.state, :form => form %>
                  <input id="post-final" type="submit" style="display:none"/>
                <% end %>
              <!-- form .formset -->

              <!-- .forms-info -->
              <section class="forms-info info-big top-decor">
                <article>
                  Обращаем ваше внимание, что мы отправляем заказы только по России. Для того, чтобы приобрести и доставить товар в другую страну – <a href="">свяжитесь с нами</a> лично.
                </article>
              </section>
              <!-- /.forms-info -->

          </section>
          <!-- /.forms -->
        </div>
      <!-- /.wrap -->
    </div>
    <!-- /.white-wrap -->
  </section>
<!-- /.content -->