/* line 17, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 24, ../src/layout.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../src/layout.scss */
body {
  font: 14px/20px Ubuntu;
  background: url(../images/back.png);
  color: #404040;
}

/* line 34, ../src/layout.scss */
a {
  text-decoration: underline;
}
/* line 36, ../src/layout.scss */
a:hover {
  text-decoration: none;
}

/* line 41, ../src/layout.scss */
.wrap {
  width: 940px;
  margin: 0 auto;
}

/* line 46, ../src/layout.scss */
.wrap-row {
  overflow: hidden;
}

/* line 50, ../src/layout.scss */
.white-wrap {
  width: 1100px;
  margin: 0 auto;
  background: #fff;
  padding: 20px 0 60px 0;
}

/* line 58, ../src/layout.scss */
.panel {
  background: #404040;
  height: 30px;
  overflow: hidden;
  color: #fff;
  text-align: right;
}
/* line 64, ../src/layout.scss */
.panel a {
  color: #fff;
}
/* line 67, ../src/layout.scss */
.panel nav {
  float: left;
}
/* line 70, ../src/layout.scss */
.panel nav ul li {
  display: inline-block;
  height: 24px;
  padding-top: 6px;
  font-size: 14px;
  letter-spacing: 1px;
  vertical-align: text-bottom;
  text-transform: uppercase;
  margin-right: 26px;
}
/* line 79, ../src/layout.scss */
.panel nav ul li a {
  text-decoration: none;
}
/* line 81, ../src/layout.scss */
.panel nav ul li a:hover {
  color: #c0c0c0;
}
/* line 85, ../src/layout.scss */
.panel nav ul li a.current {
  color: #c0c0c0;
}
/* line 91, ../src/layout.scss */
.panel .phone {
  float: right;
  width: right;
  height: 25px;
  padding: 5px 15px 0 15px;
  font-size: 18px;
  background: #535353;
}
/* line 99, ../src/layout.scss */
.panel .login {
  width: auto;
  float: right;
  height: 30px;
  background: gray;
  font-weight: bold;
}
/* line 106, ../src/layout.scss */
.panel .login a {
  display: inline-block;
  height: 26px;
  padding: 4px 15px 0 15px;
  text-decoration: none;
}
/* line 112, ../src/layout.scss */
.panel .login .l-login {
  background: #4c7f82;
  margin-right: -3px;
}
/* line 115, ../src/layout.scss */
.panel .login .l-login:hover {
  background: #81a5a7;
}
/* line 119, ../src/layout.scss */
.panel .login .l-registration {
  background: #f7941e;
}
/* line 121, ../src/layout.scss */
.panel .login .l-registration:hover {
  background: #f9b461;
}

/* line 128, ../src/layout.scss */
.navigations {
  margin-top: 20px;
  position: relative;
}
/* line 132, ../src/layout.scss */
.navigations .search input {
  width: 280px;
  padding: 0 10px;
  height: 28px;
  border: 1px solid #e0e0e0;
}
/* line 139, ../src/layout.scss */
.navigations .logo {
  float: left;
}
/* line 142, ../src/layout.scss */
.navigations .search {
  float: right;
}
/* line 145, ../src/layout.scss */
.navigations .direction-nav {
  border-bottom: 1px solid #404040;
  padding-bottom: 6px;
  margin: 30px 0 62px 0;
}
/* line 150, ../src/layout.scss */
.navigations .direction-nav ul li {
  display: inline-block;
  margin-right: 1px;
}
/* line 153, ../src/layout.scss */
.navigations .direction-nav ul li a {
  display: inline-block;
  padding: 10px 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #404040;
}
/* line 159, ../src/layout.scss */
.navigations .direction-nav ul li a:hover {
  border: 3px solid #edf2f2;
  padding: 7px 7px;
}
/* line 164, ../src/layout.scss */
.navigations .direction-nav ul li:last-child {
  margin-right: 0;
}
/* line 169, ../src/layout.scss */
.navigations .direction-nav ul li.current a {
  background: #4c7f82;
  color: #fff;
}
/* line 176, ../src/layout.scss */
.navigations .sub-direction-nav {
  position: absolute;
  top: 130px;
}
/* line 184, ../src/layout.scss */
.navigations .sub-direction-nav ul li {
  display: inline;
  margin-right: 24px;
}
/* line 187, ../src/layout.scss */
.navigations .sub-direction-nav ul li a {
  font-size: 14px;
  font-style: italic;
  color: #4c7f82;
  text-decoration: none;
}
/* line 192, ../src/layout.scss */
.navigations .sub-direction-nav ul li a:hover {
  text-decoration: underline;
}
/* line 198, ../src/layout.scss */
.navigations .sub-direction-nav ul .current a {
  font-weight: bold;
}

/* line 206, ../src/layout.scss */
.site-footer {
  background: #808080;
  color: #fff;
  text-align: right;
  overflow: hidden;
  padding: 30px 0 30px 0;
}
/* line 212, ../src/layout.scss */
.site-footer a {
  color: #fff;
}
/* line 215, ../src/layout.scss */
.site-footer .foot-right {
  width: 560px;
  float: right;
}
/* line 218, ../src/layout.scss */
.site-footer .foot-right a.social {
  width: 30px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
}
/* line 223, ../src/layout.scss */
.site-footer .foot-right a.social img {
  position: absolute;
  top: -20px;
}
/* line 228, ../src/layout.scss */
.site-footer .foot-right span {
  width: auto;
  display: inline-block;
}
/* line 232, ../src/layout.scss */
.site-footer .foot-right .mail {
  margin-right: 10px;
}
/* line 237, ../src/layout.scss */
.site-footer nav ul {
  float: left;
}
/* line 239, ../src/layout.scss */
.site-footer nav ul li {
  display: inline;
  margin-right: 20px;
}

/* line 4, ../src/brands.scss */
.brand img {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
}
/* line 7, ../src/brands.scss */
.brand article {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 590px;
  margin-left: 46px;
}
/* line 11, ../src/brands.scss */
.brand article hgroup {
  margin-bottom: 25px;
}
/* line 13, ../src/brands.scss */
.brand article hgroup h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
/* line 18, ../src/brands.scss */
.brand article hgroup h2 {
  font-size: 21px;
}

/* line 26, ../src/brands.scss */
.brands article {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 270px;
  margin: 0 40px 45px 0;
}
/* line 30, ../src/brands.scss */
.brands article a {
  color: #404040;
  text-decoration: none;
}
/* line 33, ../src/brands.scss */
.brands article a:hover {
  text-decoration: underline;
}
/* line 37, ../src/brands.scss */
.brands article h2 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 44, ../src/brands.scss */
.brands article ul li {
  font-style: italic;
  margin-bottom: 10px;
}
