/* line 17, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 23, ../src/layout.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../src/layout.scss */
body {
  font: 14px/120% Ubuntu;
  background: url(../images/back.png);
}

/* line 32, ../src/layout.scss */
.wrap {
  width: 940px;
  margin: 0 auto;
}

/* line 37, ../src/layout.scss */
.white-wrap {
  width: 1100px;
  margin: 0 auto;
  background: #fff;
}

/* line 43, ../src/layout.scss */
.panel {
  background: #404040;
  height: 30px;
  overflow: hidden;
  color: #fff;
  text-align: right;
}
/* line 49, ../src/layout.scss */
.panel a {
  color: #fff;
}
/* line 52, ../src/layout.scss */
.panel nav {
  float: left;
}
/* line 55, ../src/layout.scss */
.panel nav ul li {
  display: inline-block;
  height: 23px;
  padding-top: 7px;
  font-size: 14px;
  letter-spacing: 1px;
  vertical-align: text-bottom;
  text-transform: uppercase;
  margin-right: 26px;
}
/* line 64, ../src/layout.scss */
.panel nav ul li a {
  text-decoration: none;
}
/* line 70, ../src/layout.scss */
.panel .phone {
  float: right;
  width: right;
  height: 24px;
  padding: 6px 15px 0 15px;
  font-size: 18px;
  background: #535353;
}
/* line 78, ../src/layout.scss */
.panel .login {
  width: auto;
  float: right;
  height: 30px;
  background: gray;
  font-weight: bold;
}
/* line 85, ../src/layout.scss */
.panel .login a {
  display: inline-block;
  height: 23px;
  padding: 7px 15px 0 15px;
  text-decoration: none;
}
/* line 91, ../src/layout.scss */
.panel .login .l-login {
  background: #4c7f82;
}
/* line 94, ../src/layout.scss */
.panel .login .l-registration {
  background: #f7941e;
}

/* line 100, ../src/layout.scss */
.navigations {
  margin-top: 20px;
}
/* line 102, ../src/layout.scss */
.navigations .logo {
  float: left;
}
/* line 105, ../src/layout.scss */
.navigations .search {
  float: right;
}
/* line 108, ../src/layout.scss */
.navigations .direction-nav {
  clear: both;
  border-bottom: 1px solid #404040;
  padding-bottom: 6px;
  margin-bottom: 62px;
}
/* line 114, ../src/layout.scss */
.navigations .direction-nav ul li {
  display: inline-block;
  margin-right: 1px;
}
/* line 117, ../src/layout.scss */
.navigations .direction-nav ul li a {
  display: inline-block;
  padding: 10px 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #404040;
}
/* line 123, ../src/layout.scss */
.navigations .direction-nav ul li a:hover {
  border: 3px solid #edf2f2;
  padding: 7px 7px;
}
/* line 128, ../src/layout.scss */
.navigations .direction-nav ul li:last-child {
  margin-right: 0;
}
/* line 133, ../src/layout.scss */
.navigations .direction-nav ul li.current a {
  background: #4c7f82;
  color: #fff;
}
