/*
Syntax error: Undefined variable: "$color".
        on line 16 of /Users/mihail/whitescape/knigipodarki/_markup/src/layout.scss

Backtrace:
/Users/mihail/whitescape/knigipodarki/_markup/src/layout.scss:16
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/script/variable.rb:49:in `_perform'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/script/node.rb:40:in `perform'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:294:in `visit_prop'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:316:in `visit_rule'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/tree/root_node.rb:20:in `render'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/engine.rb:315:in `_render'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/sass-3.2.1/lib/sass/engine.rb:262:in `render'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:68:in `perform'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/bin/compass:23:in `load'
/Users/mihail/.rvm/gems/ruby-1.9.3-p286@knigipodarki/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$color\".\A         on line 16 of /Users/mihail/whitescape/knigipodarki/_markup/src/layout.scss"; }
