/* line 17, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 23, ../src/layout.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../src/layout.scss */
body {
  font: 14px/20px Ubuntu;
  background: url(../images/back.png);
  color: #404040;
}

/* line 33, ../src/layout.scss */
a {
  text-decoration: underline;
}
/* line 35, ../src/layout.scss */
a:hover {
  text-decoration: none;
}

/* line 40, ../src/layout.scss */
.wrap {
  width: 940px;
  margin: 0 auto;
}

/* line 45, ../src/layout.scss */
.wrap-row {
  overflow: hidden;
}

/* line 49, ../src/layout.scss */
.white-wrap {
  width: 1100px;
  margin: 0 auto;
  background: #fff;
  padding: 20px 0 60px 0;
}

/* line 57, ../src/layout.scss */
.panel {
  background: #404040;
  height: 30px;
  overflow: hidden;
  color: #fff;
  text-align: right;
}
/* line 63, ../src/layout.scss */
.panel a {
  color: #fff;
}
/* line 66, ../src/layout.scss */
.panel nav {
  float: left;
}
/* line 69, ../src/layout.scss */
.panel nav ul li {
  display: inline-block;
  height: 24px;
  padding-top: 6px;
  font-size: 14px;
  letter-spacing: 1px;
  vertical-align: text-bottom;
  text-transform: uppercase;
  margin-right: 26px;
}
/* line 78, ../src/layout.scss */
.panel nav ul li a {
  text-decoration: none;
}
/* line 80, ../src/layout.scss */
.panel nav ul li a:hover {
  color: #c0c0c0;
}
/* line 84, ../src/layout.scss */
.panel nav ul li a.current {
  color: #c0c0c0;
}
/* line 90, ../src/layout.scss */
.panel .phone {
  float: right;
  width: right;
  height: 25px;
  padding: 5px 15px 0 15px;
  font-size: 18px;
  background: #535353;
}
/* line 98, ../src/layout.scss */
.panel .login {
  width: auto;
  float: right;
  height: 30px;
  background: gray;
  font-weight: bold;
}
/* line 105, ../src/layout.scss */
.panel .login a {
  display: inline-block;
  height: 26px;
  padding: 4px 15px 0 15px;
  text-decoration: none;
}
/* line 111, ../src/layout.scss */
.panel .login .l-login {
  background: #4c7f82;
  margin-right: -3px;
}
/* line 114, ../src/layout.scss */
.panel .login .l-login:hover {
  background: #81a5a7;
}
/* line 118, ../src/layout.scss */
.panel .login .l-registration {
  background: #f7941e;
}
/* line 120, ../src/layout.scss */
.panel .login .l-registration:hover {
  background: #f9b461;
}

/* line 127, ../src/layout.scss */
.navigations {
  margin-top: 20px;
}
/* line 130, ../src/layout.scss */
.navigations .search input {
  width: 280px;
  padding: 0 10px;
  height: 28px;
  border: 1px solid #e0e0e0;
}
/* line 137, ../src/layout.scss */
.navigations .logo {
  float: left;
}
/* line 140, ../src/layout.scss */
.navigations .search {
  float: right;
}
/* line 143, ../src/layout.scss */
.navigations .direction-nav {
  border-bottom: 1px solid #404040;
  padding-bottom: 6px;
  margin: 30px 0 62px 0;
}
/* line 148, ../src/layout.scss */
.navigations .direction-nav ul li {
  display: inline-block;
  margin-right: 1px;
}
/* line 151, ../src/layout.scss */
.navigations .direction-nav ul li a {
  display: inline-block;
  padding: 10px 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #404040;
}
/* line 157, ../src/layout.scss */
.navigations .direction-nav ul li a:hover {
  border: 3px solid #edf2f2;
  padding: 7px 7px;
}
/* line 162, ../src/layout.scss */
.navigations .direction-nav ul li:last-child {
  margin-right: 0;
}
/* line 167, ../src/layout.scss */
.navigations .direction-nav ul li.current a {
  background: #4c7f82;
  color: #fff;
}

/* line 176, ../src/layout.scss */
.site-footer {
  background: #808080;
  color: #fff;
  text-align: right;
  overflow: hidden;
  padding: 30px 0 30px 0;
}
/* line 182, ../src/layout.scss */
.site-footer a {
  color: #fff;
}
/* line 185, ../src/layout.scss */
.site-footer .foot-right {
  width: 560px;
  float: right;
}
/* line 188, ../src/layout.scss */
.site-footer .foot-right a.social {
  width: 30px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
}
/* line 193, ../src/layout.scss */
.site-footer .foot-right a.social img {
  position: absolute;
  top: -20px;
}
/* line 198, ../src/layout.scss */
.site-footer .foot-right span {
  width: auto;
  display: inline-block;
}
/* line 202, ../src/layout.scss */
.site-footer .foot-right .mail {
  margin-right: 10px;
}
/* line 207, ../src/layout.scss */
.site-footer nav ul {
  float: left;
}
/* line 209, ../src/layout.scss */
.site-footer nav ul li {
  display: inline;
  margin-right: 20px;
}
