/* line 5, ../src/shop.scss */
.shop-box .shop-box-content .item {
  display: block;
  text-decoration: none;
}
/* line 9, ../src/shop.scss */
.shop-box .shop-box-content .item article .price {
  color: red;
}
/* line 12, ../src/shop.scss */
.shop-box .shop-box-content .item article h3 {
  font-weight: bold;
}
/* line 15, ../src/shop.scss */
.shop-box .shop-box-content .item article p {
  font-style: italic;
}
/* line 18, ../src/shop.scss */
.shop-box .shop-box-content .item article:hover:after {
  content: 'add';
  color: red;
}
/* line 23, ../src/shop.scss */
.shop-box .shop-box-content .item:hover {
  border: 1px solid red;
}
