/* line 17, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'kp_icons';
  src: url("../fonts/kp_icons.eot");
  src: url("../fonts/kp_icons.eot?#iefix") format("embedded-opentype"), url("../fonts/kp_icons.woff") format("woff"), url("../fonts/kp_icons.ttf") format("truetype"), url("../fonts/kp_icons.svg#kp_icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 9, ../src/layout.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 13, ../src/layout.scss */
body {
  font: 14px/20px Ubuntu;
  background: url(../images/back.png);
  color: #404040;
}

/* line 19, ../src/layout.scss */
a {
  text-decoration: underline;
  color: #4c7f82;
}
/* line 22, ../src/layout.scss */
a:hover {
  text-decoration: none;
}

/* line 27, ../src/layout.scss */
p {
  margin-bottom: 1em;
}

/* line 31, ../src/layout.scss */
.sp_show {
  display: none;
}

/* line 35, ../src/layout.scss */
.wrap {
  width: 940px;
  margin: 0 auto;
}

/* line 40, ../src/layout.scss */
.wrap-row {
  overflow: hidden;
}

/* line 44, ../src/layout.scss */
.white-wrap {
  width: 1100px;
  margin: 0 auto;
  background: #fff;
  padding: 20px 0 60px 0;
}

/* line 53, ../src/layout.scss */
.site-header .panel {
  background: #404040;
  height: 30px;
  overflow: hidden;
  color: #fff;
  text-align: right;
}
/* line 59, ../src/layout.scss */
.site-header .panel a {
  color: #fff;
}
/* line 62, ../src/layout.scss */
.site-header .panel nav {
  float: left;
}
/* line 65, ../src/layout.scss */
.site-header .panel nav ul li {
  display: inline-block;
  height: 24px;
  padding-top: 6px;
  font-size: 14px;
  letter-spacing: 1px;
  vertical-align: text-bottom;
  text-transform: uppercase;
  margin-right: 26px;
}
/* line 74, ../src/layout.scss */
.site-header .panel nav ul li a {
  text-decoration: none;
}
/* line 76, ../src/layout.scss */
.site-header .panel nav ul li a:hover {
  color: #c0c0c0;
}
/* line 80, ../src/layout.scss */
.site-header .panel nav ul li a.current {
  color: #c0c0c0;
}
/* line 86, ../src/layout.scss */
.site-header .panel .phone {
  float: right;
  width: right;
  height: 25px;
  padding: 5px 15px 0 15px;
  font-size: 18px;
  background: #535353;
}
/* line 94, ../src/layout.scss */
.site-header .panel .login {
  width: auto;
  float: right;
  height: 30px;
  background: gray;
  font-weight: bold;
}
/* line 101, ../src/layout.scss */
.site-header .panel .login a {
  display: inline-block;
  height: 26px;
  padding: 4px 15px 0 15px;
  text-decoration: none;
}
/* line 107, ../src/layout.scss */
.site-header .panel .login .l-login {
  background: #4c7f82;
  margin-right: -3px;
}
/* line 110, ../src/layout.scss */
.site-header .panel .login .l-login:hover {
  background: #81a5a7;
}
/* line 114, ../src/layout.scss */
.site-header .panel .login .l-registration {
  background: #f7941e;
}
/* line 116, ../src/layout.scss */
.site-header .panel .login .l-registration:hover {
  background: #f9b461;
}
/* line 122, ../src/layout.scss */
.site-header .navigations {
  margin-top: 20px;
  position: relative;
}
/* line 126, ../src/layout.scss */
.site-header .navigations .search input {
  width: 280px;
  padding: 0 10px;
  height: 28px;
  border: 1px solid #e0e0e0;
}
/* line 133, ../src/layout.scss */
.site-header .navigations .logo {
  float: left;
}
/* line 136, ../src/layout.scss */
.site-header .navigations .search {
  float: right;
}
/* line 139, ../src/layout.scss */
.site-header .navigations .direction-nav {
  border-bottom: 1px solid #404040;
  padding-bottom: 6px;
  margin: 30px 0 62px 0;
}
/* line 144, ../src/layout.scss */
.site-header .navigations .direction-nav ul li {
  display: inline-block;
  margin-right: 1px;
}
/* line 147, ../src/layout.scss */
.site-header .navigations .direction-nav ul li a {
  display: inline-block;
  padding: 10px 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #404040;
}
/* line 153, ../src/layout.scss */
.site-header .navigations .direction-nav ul li a:hover {
  border: 3px solid #edf2f2;
  padding: 7px 7px;
}
/* line 158, ../src/layout.scss */
.site-header .navigations .direction-nav ul li:last-child {
  margin-right: 0;
}
/* line 163, ../src/layout.scss */
.site-header .navigations .direction-nav ul li.current a {
  background: #4c7f82;
  color: #fff;
}
/* line 170, ../src/layout.scss */
.site-header .navigations .sub-direction-nav {
  position: absolute;
  top: 130px;
}
/* line 178, ../src/layout.scss */
.site-header .navigations .sub-direction-nav ul li {
  display: inline;
  margin-right: 24px;
}
/* line 181, ../src/layout.scss */
.site-header .navigations .sub-direction-nav ul li a {
  font-size: 14px;
  font-style: italic;
  text-decoration: none;
}
/* line 185, ../src/layout.scss */
.site-header .navigations .sub-direction-nav ul li a:hover {
  text-decoration: underline;
}
/* line 191, ../src/layout.scss */
.site-header .navigations .sub-direction-nav ul .current a {
  font-weight: bold;
}

/* line 202, ../src/layout.scss */
.site-footer {
  background: #808080;
  color: #fff;
  text-align: right;
  overflow: hidden;
  padding: 30px 0 30px 0;
}
/* line 208, ../src/layout.scss */
.site-footer a {
  color: #fff;
}
/* line 211, ../src/layout.scss */
.site-footer .foot-right {
  width: 560px;
  float: right;
}
/* line 214, ../src/layout.scss */
.site-footer .foot-right a.social {
  width: 30px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
}
/* line 219, ../src/layout.scss */
.site-footer .foot-right a.social img {
  position: absolute;
  top: -20px;
}
/* line 224, ../src/layout.scss */
.site-footer .foot-right span {
  width: auto;
  display: inline-block;
}
/* line 228, ../src/layout.scss */
.site-footer .foot-right .mail {
  margin-right: 10px;
}
/* line 233, ../src/layout.scss */
.site-footer nav ul {
  float: left;
}
/* line 235, ../src/layout.scss */
.site-footer nav ul li {
  display: inline;
  margin-right: 20px;
}

/* line 1, ../src/index.scss */
.promo {
  margin-bottom: 80px;
  position: relative;
}
/* line 4, ../src/index.scss */
.promo .baners {
  border: 1px solid #f7941e;
  padding: 20px 0 20px 50px;
  height: 298px;
}
/* line 8, ../src/index.scss */
.promo .baners .item {
  width: 820px;
  margin: 0 auto;
  z-index: 1000;
}
/* line 12, ../src/index.scss */
.promo .baners .item image {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
}
/* line 15, ../src/index.scss */
.promo .baners .item article {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 480px;
  margin-left: 36px;
  padding: 26px 0 0 0;
}
/* line 20, ../src/index.scss */
.promo .baners .item article hgroup {
  margin: 0 0 16px 0;
}
/* line 22, ../src/index.scss */
.promo .baners .item article hgroup h2 {
  font-size: 48px;
  margin: 0 0 20px 0;
}
/* line 26, ../src/index.scss */
.promo .baners .item article hgroup h3 {
  font-size: 21px;
}
/* line 30, ../src/index.scss */
.promo .baners .item article .price {
  display: block;
  color: #4c7f82;
  font-weight: bold;
  font-size: 21px;
  margin-top: 22px;
}
/* line 40, ../src/index.scss */
.promo .baners-nav {
  width: 540px;
  position: absolute;
  top: 300px;
  right: 0;
  z-index: 999999;
}
/* line 46, ../src/index.scss */
.promo .baners-nav li {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
/* line 49, ../src/index.scss */
.promo .baners-nav li:first-child {
  margin-left: 0;
}
/* line 52, ../src/index.scss */
.promo .baners-nav li a {
  display: block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 1px solid #f7941e;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
}
/* line 61, ../src/index.scss */
.promo .baners-nav li a:hover {
  background: #f7941e;
  color: #f7941e;
}
/* line 65, ../src/index.scss */
.promo .baners-nav li a.active {
  color: #f7941e;
  background: #f7941e;
}
/* line 72, ../src/index.scss */
.promo .baners-nav-ctl {
  height: 50px;
  padding-top: 30px;
  font-family: kp_icons;
  font-size: 26px;
  text-decoration: none;
  color: #f7941e;
}
/* line 80, ../src/index.scss */
.promo .baners-nav-left {
  position: absolute;
  top: 138px;
  padding-left: 12px;
  left: 0;
}
/* line 85, ../src/index.scss */
.promo .baners-nav-left:hover {
  padding-left: 7px;
  border-left: 5px solid #f7941e;
}
/* line 90, ../src/index.scss */
.promo .baners-nav-right {
  position: absolute;
  top: 138px;
  padding-right: 12px;
  right: 0;
}
/* line 95, ../src/index.scss */
.promo .baners-nav-right:hover {
  padding-right: 7px;
  border-right: 5px solid #f7941e;
}

/* line 1, ../src/shop.scss */
.catalogue {
  margin-bottom: 50px;
}
/* line 3, ../src/shop.scss */
.catalogue .item {
  width: 230px;
  border: 1px solid #fff;
  position: relative;
  display: inline-block;
  padding: 30px 0 15px 0;
}
/* line 9, ../src/shop.scss */
.catalogue .item a {
  color: #404040;
  text-decoration: none;
}
/* line 13, ../src/shop.scss */
.catalogue .item:hover {
  width: 230px;
  border: 1px solid #fbc98e;
}
/* line 17, ../src/shop.scss */
.catalogue .item img {
  display: block;
  margin: 0 auto;
}
/* line 21, ../src/shop.scss */
.catalogue .item article {
  margin-top: 15px;
  padding: 0 30px 0 30px;
}
/* line 24, ../src/shop.scss */
.catalogue .item article .price {
  display: block;
  float: left;
  font-size: 18px;
  font-weight: bold;
  color: #e66f50;
  margin-bottom: 18px;
}
/* line 32, ../src/shop.scss */
.catalogue .item article .marker {
  margin-left: 20px;
  color: #fff;
  background: #c0c0c0;
  text-transform: uppercase;
  padding: 1px 3px;
}
/* line 39, ../src/shop.scss */
.catalogue .item article h2 {
  font-size: 16px;
  font-weight: bold;
  clear: both;
}
/* line 44, ../src/shop.scss */
.catalogue .item article p {
  font-size: 14px;
  font-style: italic;
}
/* line 49, ../src/shop.scss */
.catalogue .item .add-to-cart {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 49px;
  padding: 8px 0 0 36px;
  font-family: kp_icons;
  font-size: 24px;
  color: #fff;
  background: url(../images/cart.png) right top no-repeat;
  z-index: 9999;
}
/* line 62, ../src/shop.scss */
.catalogue .item .add-to-cart:hover {
  color: #e66f50;
}
/* line 67, ../src/shop.scss */
.catalogue .item:hover .add-to-cart {
  display: block;
}
/* line 71, ../src/shop.scss */
.catalogue header {
  overflow: hidden;
  border-top: 1px solid #7f7f7f;
  padding: 18px 0 18px 0;
}
/* line 75, ../src/shop.scss */
.catalogue header h2 {
  float: left;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 81, ../src/shop.scss */
.catalogue header a {
  float: right;
  font-weight: 300;
  color: #a0a0a0;
  text-decoration: none;
}
/* line 86, ../src/shop.scss */
.catalogue header a:hover {
  text-decoration: underline;
}

/* line 93, ../src/shop.scss */
.sorting {
  margin: 30px 0;
}
/* line 95, ../src/shop.scss */
.sorting ul:first-child {
  border-left: none;
  margin-left: 0;
}
/* line 99, ../src/shop.scss */
.sorting ul {
  display: inline-block;
  border-left: 1px solid #a0a0a0;
  padding-left: 24px;
}
/* line 103, ../src/shop.scss */
.sorting ul li {
  display: inline;
  margin-right: 24px;
  color: #a0a0a0;
}
/* line 107, ../src/shop.scss */
.sorting ul li a {
  color: red;
  text-decoration: none;
  border-bottom: 1px dashed #404040;
  color: #404040;
}
/* line 115, ../src/shop.scss */
.sorting ul li a:hover {
  border-bottom: none;
}

/* line 123, ../src/shop.scss */
.pagination {
  margin-left: 30px;
}
/* line 126, ../src/shop.scss */
.pagination ul li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-right: 8px;
}
/* line 131, ../src/shop.scss */
.pagination ul li a {
  display: block;
  height: 30px;
  padding: 12px 14px 0 14px;
  font-size: 24px;
  text-decoration: none;
  color: #c0c0c0;
  background: #f8f8f8;
}
/* line 140, ../src/shop.scss */
.pagination ul li a:hover {
  background: #f8f8f8;
  color: #f7941e;
}
/* line 145, ../src/shop.scss */
.pagination ul li span {
  display: block;
  width: 42px;
  height: 30px;
  padding: 12px 14px 0 14px;
  font-size: 24px;
}
/* line 155, ../src/shop.scss */
.pagination ul .current a {
  color: #000;
}
/* line 160, ../src/shop.scss */
.pagination ul .arrow a {
  width: 50px;
  height: 36px;
  padding: 14px 0 0 0;
  background: #f0f0f0;
  font-family: kp_icons;
}
/* line 166, ../src/shop.scss */
.pagination ul .arrow a:hover {
  background: #f0f0f0;
}

/* line 174, ../src/shop.scss */
.tags {
  width: 810px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #99b6b7;
}
/* line 180, ../src/shop.scss */
.tags ul li {
  display: inline;
  margin-left: 10px;
  line-height: 24px;
}
/* line 184, ../src/shop.scss */
.tags ul li a {
  text-decoration: none;
}
/* line 186, ../src/shop.scss */
.tags ul li a:hover {
  text-decoration: underline;
}

/* line 194, ../src/shop.scss */
.product {
  margin-bottom: 45px;
}
/* line 196, ../src/shop.scss */
.product figure {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 300px;
}
/* line 200, ../src/shop.scss */
.product figure ul {
  margin-left: -17px;
}
/* line 202, ../src/shop.scss */
.product figure ul li {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  margin-left: 17px;
}
/* line 207, ../src/shop.scss */
.product figure img {
  border: 1px solid #e8e8e8;
  margin-bottom: 20px;
}
/* line 212, ../src/shop.scss */
.product article {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 590px;
  margin-left: 46px;
}
/* line 216, ../src/shop.scss */
.product article hgroup {
  margin-bottom: 34px;
}
/* line 218, ../src/shop.scss */
.product article hgroup h4 {
  color: #c0c0c0;
  font-size: 12px;
}
/* line 222, ../src/shop.scss */
.product article hgroup h1 {
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 40px;
}
/* line 227, ../src/shop.scss */
.product article hgroup h2 {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  font-size: 21px;
  float: left;
}
/* line 233, ../src/shop.scss */
.product article hgroup .marker {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  margin-left: 20px;
  color: #fff;
  background: #c0c0c0;
  text-transform: uppercase;
  padding: 1px 3px;
}
/* line 242, ../src/shop.scss */
.product article hgroup .product-social {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  margin-left: 20px;
}
/* line 246, ../src/shop.scss */
.product article hgroup .product-social li {
  display: inline;
  font-family: kp_icons;
  font-size: 15px;
  margin-right: 4px;
}
/* line 251, ../src/shop.scss */
.product article hgroup .product-social li a {
  text-decoration: none;
}
/* line 256, ../src/shop.scss */
.product article hgroup .product-social .icon-vk a {
  color: #285278;
}
/* line 261, ../src/shop.scss */
.product article hgroup .product-social .icon-facebook a {
  color: #3c5e96;
}
/* line 266, ../src/shop.scss */
.product article hgroup .product-social .icon-twitter a {
  color: #52afde;
}
/* line 272, ../src/shop.scss */
.product article .cartline {
  margin-bottom: 36px;
}
/* line 274, ../src/shop.scss */
.product article .cartline .cart {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  width: auto;
  background: #e66f50;
  padding: 10px 18px 10px 12px;
}
/* line 280, ../src/shop.scss */
.product article .cartline .cart span {
  color: #fff;
  border-right: 2px solid #eb8c73;
  padding-right: 12px;
  font-weight: bold;
  font-size: 18px;
}
/* line 288, ../src/shop.scss */
.product article .cartline .cart a {
  margin-left: 12px;
  font-family: kp_icons;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}
/* line 296, ../src/shop.scss */
.product article .cartline .stock {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  width: auto;
  margin-left: 20px;
  font-size: 12px;
  color: #e66f50;
}
/* line 304, ../src/shop.scss */
.product article .cartline .payment {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  width: auto;
  margin-left: 20px;
  font-size: 12px;
  color: #c0c0c0;
}
/* line 314, ../src/shop.scss */
.product aside {
  width: 590px;
  margin-left: 350px;
}
/* line 318, ../src/shop.scss */
.product aside .specs {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 230px;
  padding: 20px;
  background: #f8f8f8;
}
/* line 323, ../src/shop.scss */
.product aside .specs h3 {
  font-size: 16px;
  font-weight: bold;
  color: #808080;
  margin-bottom: 20px;
}
/* line 330, ../src/shop.scss */
.product aside .product-tags {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 240px;
  padding: 20px;
}

/* line 338, ../src/shop.scss */
.search-result {
  margin-top: 40px;
  padding-left: 20px;
}
/* line 341, ../src/shop.scss */
.search-result h1 {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  font-size: 21px;
}
/* line 345, ../src/shop.scss */
.search-result h1 span {
  font-weight: 700;
}
/* line 349, ../src/shop.scss */
.search-result a {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  margin-left: 20px;
}

/* line 1, ../src/about.scss */
.about {
  margin-bottom: 45px;
  padding-bottom: 60px;
  overflow: hidden;
}
/* line 5, ../src/about.scss */
.about article {
  width: 440px;
  float: left;
}
/* line 8, ../src/about.scss */
.about article:last-child {
  float: right;
}
/* line 11, ../src/about.scss */
.about article img {
  margin-bottom: 15px;
  margin-top: 40px;
}
/* line 14, ../src/about.scss */
.about article img:first-child {
  margin-top: 0;
}
/* line 18, ../src/about.scss */
.about article h2 {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 25px;
}
/* line 24, ../src/about.scss */
.about h1 {
  clear: both;
  margin-bottom: 45px;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 31, ../src/about.scss */
.about:first-child {
  margin-top: 48px;
}

/* line 2, ../src/brands.scss */
.brand img {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
}
/* line 5, ../src/brands.scss */
.brand article {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 590px;
  margin-left: 46px;
}
/* line 9, ../src/brands.scss */
.brand article hgroup {
  margin-bottom: 25px;
}
/* line 11, ../src/brands.scss */
.brand article hgroup h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
/* line 16, ../src/brands.scss */
.brand article hgroup h2 {
  font-size: 21px;
}

/* line 24, ../src/brands.scss */
.brands article {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 270px;
  margin: 0 40px 45px 0;
}
/* line 28, ../src/brands.scss */
.brands article a {
  color: #404040;
  text-decoration: none;
}
/* line 31, ../src/brands.scss */
.brands article a:hover {
  text-decoration: underline;
}
/* line 35, ../src/brands.scss */
.brands article h2 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 42, ../src/brands.scss */
.brands article ul li {
  font-style: italic;
  margin-bottom: 10px;
}

/* line 2, ../src/account.scss */
.account header {
  margin: 40px 0;
}
/* line 4, ../src/account.scss */
.account header h1 {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  float: left;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 12, ../src/account.scss */
.account header span {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  margin-left: 75px;
}
/* line 17, ../src/account.scss */
.account header a {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  margin-left: 10px;
}
/* line 22, ../src/account.scss */
.account header .breadcrumps {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}
/* line 25, ../src/account.scss */
.account header .breadcrumps li {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
}
/* line 28, ../src/account.scss */
.account header .breadcrumps li.step {
  color: #c0c0c0;
}
/* line 31, ../src/account.scss */
.account header .breadcrumps li.current {
  color: #404040;
}

/* line 39, ../src/account.scss */
.orders {
  margin: 40px 0;
}
/* line 41, ../src/account.scss */
.orders h3 {
  font-size: 21px;
  margin-bottom: 45px;
}
/* line 45, ../src/account.scss */
.orders table {
  width: 100%;
}
/* line 49, ../src/account.scss */
.orders table tbody tr:nth-child(2n+2) {
  background: #f8f8f8;
}
/* line 52, ../src/account.scss */
.orders table tbody tr td {
  width: 16%;
  padding: 5px 10px;
}
/* line 56, ../src/account.scss */
.orders table tbody tr th {
  font-weight: bold;
  padding: 5px 10px;
}

/* line 66, ../src/account.scss */
.addresses header {
  margin-bottom: 25px;
}
/* line 68, ../src/account.scss */
.addresses header h3 {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  font-size: 21px;
}
/* line 73, ../src/account.scss */
.addresses header a {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  margin-left: 25px;
}
/* line 79, ../src/account.scss */
.addresses .adress {
  background: #f8f8f8;
  padding: 20px;
}
/* line 82, ../src/account.scss */
.addresses .adress .desc {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  width: 620px;
}
/* line 87, ../src/account.scss */
.addresses .adress .controls {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  width: 220px;
  margin-left: 50px;
}
/* line 92, ../src/account.scss */
.addresses .adress .controls a {
  margin-right: 20px;
}

/* line 99, ../src/account.scss */
.order {
  margin: 30px 0;
}
/* line 101, ../src/account.scss */
.order h3 {
  font-size: 21px;
  margin-bottom: 25px;
}
/* line 105, ../src/account.scss */
.order table {
  width: 100%;
}
/* line 108, ../src/account.scss */
.order table tr th {
  background: #f8f8f8;
  width: 20%;
  padding: 5px 10px;
}
/* line 112, ../src/account.scss */
.order table tr th:last-child {
  width: 20%;
}
/* line 116, ../src/account.scss */
.order table tr td {
  width: 20%;
  padding: 5px 10px;
}
/* line 119, ../src/account.scss */
.order table tr td:last-child {
  width: 20%;
}

/* line 3, ../src/forms.scss */
.forms .formset .fields {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 282px;
  margin-right: 38px;
}
/* line 7, ../src/forms.scss */
.forms .formset .fields fieldset {
  height: 72px;
}
/* line 9, ../src/forms.scss */
.forms .formset .fields fieldset label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 14, ../src/forms.scss */
.forms .formset .fields fieldset input {
  width: 276px;
  padding: 0 10px;
}
/* line 19, ../src/forms.scss */
.forms .formset .fields fieldset select {
  width: 298px;
  padding: 0 0 0 10px;
}
/* line 27, ../src/forms.scss */
.forms .controls {
  text-align: right;
  padding-top: 18px;
  margin-bottom: 20px;
}
/* line 31, ../src/forms.scss */
.forms .controls input {
  border: none;
  height: 30px;
  padding: 0 10px;
  background: #e66f50;
  color: #fff;
  margin-left: 20px;
}
/* line 40, ../src/forms.scss */
.forms .top-decor {
  border-top: 1px solid #c0c0c0;
}
/* line 43, ../src/forms.scss */
.forms .controls-big {
  width: 622px;
}
/* line 46, ../src/forms.scss */
.forms .controls-small {
  width: 300px;
}
/* line 50, ../src/forms.scss */
.forms .forms-info article {
  padding: 10px 20px;
  border: 6px solid #e66f50;
  border-left: 20px solid #e66f50;
  background: #f8f8f8;
  margin-top: 20px;
}
/* line 58, ../src/forms.scss */
.forms .info-big {
  width: 622px;
  margin-bottom: 20px;
}

/* line 1, ../src/checkout.scss */
.checkout {
  position: relative;
}
/* line 3, ../src/checkout.scss */
.checkout header {
  margin-bottom: 45px;
}
/* line 5, ../src/checkout.scss */
.checkout header h3 {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  font-size: 21px;
}
/* line 10, ../src/checkout.scss */
.checkout header a {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  margin-left: 25px;
}
/* line 16, ../src/checkout.scss */
.checkout .summary {
  position: absolute;
  top: 40px;
  right: 0;
  width: 230px;
  padding: 20px;
  background: #f8f8f8;
}
/* line 23, ../src/checkout.scss */
.checkout .summary h3 {
  font-size: 16px;
  font-weight: bold;
  color: #808080;
}
/* line 28, ../src/checkout.scss */
.checkout .summary .item {
  overflow: hidden;
  color: #202020;
}
/* line 31, ../src/checkout.scss */
.checkout .summary .item .name {
  float: left;
}
/* line 34, ../src/checkout.scss */
.checkout .summary .item .price {
  float: right;
  font-weight: bold;
}
/* line 38, ../src/checkout.scss */
.checkout .summary .item.all {
  font-size: 18px;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #c0c0c0;
}

/* line 48, ../src/checkout.scss */
.auth {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 280px;
  margin-right: 100px;
}
/* line 52, ../src/checkout.scss */
.auth h3 {
  font-size: 21px;
  margin-bottom: 40px;
}
/* line 56, ../src/checkout.scss */
.auth fieldset {
  margin-bottom: 20px;
}
/* line 58, ../src/checkout.scss */
.auth fieldset label {
  display: block;
  margin-bottom: 10px;
}
/* line 62, ../src/checkout.scss */
.auth fieldset input {
  width: 260px;
  padding: 0 10px;
}
/* line 66, ../src/checkout.scss */
.auth fieldset .remember {
  overflow: hidden;
  margin-top: 10px;
}
/* line 69, ../src/checkout.scss */
.auth fieldset .remember label {
  float: left;
}
/* line 71, ../src/checkout.scss */
.auth fieldset .remember label input {
  width: auto;
}
/* line 75, ../src/checkout.scss */
.auth fieldset .remember a {
  float: right;
  display: block;
}
/* line 81, ../src/checkout.scss */
.auth .controls {
  overflow: hidden;
  margin-top: -20px;
}
/* line 84, ../src/checkout.scss */
.auth .controls input {
  float: left;
  margin-left: 0;
  font-weight: bold;
  padding: 0 20px;
}
/* line 89, ../src/checkout.scss */
.auth .controls input.blue {
  background: #4c7f82;
}
/* line 93, ../src/checkout.scss */
.auth .controls a {
  float: right;
  border: none;
  height: 26px;
  padding: 4px 20px 0 20px;
  background: #f7941e;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

/* line 107, ../src/checkout.scss */
.adress-choise fieldset {
  width: 622px;
  margin-bottom: 18px;
}
/* line 110, ../src/checkout.scss */
.adress-choise fieldset input {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
}
/* line 113, ../src/checkout.scss */
.adress-choise fieldset label {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 594px;
}
/* line 118, ../src/checkout.scss */
.adress-choise .controls {
  text-align: left;
  margin: 0;
}
/* line 121, ../src/checkout.scss */
.adress-choise .controls input {
  margin-left: 0;
}
/* line 126, ../src/checkout.scss */
.adress-choise .payment-comment h3 {
  font-size: 21px;
  margin-bottom: 25px;
}
/* line 130, ../src/checkout.scss */
.adress-choise .payment-comment textarea {
  width: 594px;
  height: 68px;
  border: 1px solid #c0c0c0;
}

/* line 138, ../src/checkout.scss */
.approve {
  width: 594px;
  margin-bottom: 60px;
}
/* line 141, ../src/checkout.scss */
.approve header {
  margin-bottom: 0;
}
/* line 143, ../src/checkout.scss */
.approve header h3 {
  margin-bottom: 25px;
}

/* line 1, ../src/cart.scss */
.cart {
  background: #fff;
}
/* line 3, ../src/cart.scss */
.cart .panel {
  overflow: hidden;
  background: #404040;
  height: 30px;
  color: #fff;
  font-weight: bold;
}
/* line 9, ../src/cart.scss */
.cart .panel a {
  color: #fff;
  text-decoration: none;
}
/* line 13, ../src/cart.scss */
.cart .panel .items {
  display: block;
  height: 25px;
  padding: 5px 10px 0 10px;
  float: left;
  background: #e66f50;
}
/* line 20, ../src/cart.scss */
.cart .panel .cart-order {
  display: block;
  height: 25px;
  padding: 5px 10px 0 10px;
  float: left;
  background: #f3a062;
}
/* line 27, ../src/cart.scss */
.cart .panel .control {
  display: block;
  height: 25px;
  padding: 5px 10px 0 10px;
  float: right;
  font-family: kp_icons;
}
/* line 33, ../src/cart.scss */
.cart .panel .control .close {
  display: none;
}
/* line 37, ../src/cart.scss */
.cart .panel .control.active .open {
  display: none;
}
/* line 40, ../src/cart.scss */
.cart .panel .control.active .close {
  display: block;
}
/* line 46, ../src/cart.scss */
.cart .forsale {
  width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
}
/* line 50, ../src/cart.scss */
.cart .forsale .item {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 220px;
  padding: 0 52px 0 0;
  margin-bottom: 30px;
}
/* line 55, ../src/cart.scss */
.cart .forsale .item img {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 60px;
}
/* line 59, ../src/cart.scss */
.cart .forsale .item .desc {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 140px;
  padding: 0 0 0 20px;
  margin-left: -3px;
}
/* line 64, ../src/cart.scss */
.cart .forsale .item .desc span {
  display: block;
}
/* line 67, ../src/cart.scss */
.cart .forsale .item .desc .name {
  color: #202020;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 72, ../src/cart.scss */
.cart .forsale .item .desc .price {
  font-size: 14px;
  font-weight: bold;
  color: #e66f50;
  margin-bottom: 10px;
}
/* line 79, ../src/cart.scss */
.cart .forsale .item .desc .controls .inputs {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 62px;
  padding: 0;
  margin-right: 22px;
  border: 1px solid #e2e2e2;
}
/* line 87, ../src/cart.scss */
.cart .forsale .item .desc .controls .inputs a {
  display: block;
  float: left;
  width: 20px;
  height: 22px;
  background: #e2e2e2;
  text-decoration: none;
  text-align: center;
  color: #808080;
}
/* line 97, ../src/cart.scss */
.cart .forsale .item .desc .controls .inputs input {
  display: block;
  float: left;
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 0;
  border: none;
  text-align: center;
}
/* line 108, ../src/cart.scss */
.cart .forsale .item .desc .controls .delete {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: auto;
  font-family: kp_icons;
  text-decoration: none;
  color: #e2e2e2;
}

/* line 1, ../src/login.scss */
.login-form {
  background: #4c7f82;
  width: 100%;
  height: 30px;
  overflow: hidden;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 10, ../src/login.scss */
.login-form .login-form-left {
  float: left;
  width: 540px;
  margin-left: 80px;
  height: 30px;
}
/* line 15, ../src/login.scss */
.login-form .login-form-left fieldset {
  padding-top: 3px;
  float: left;
}
/* line 18, ../src/login.scss */
.login-form .login-form-left fieldset.fright {
  float: right;
}
/* line 21, ../src/login.scss */
.login-form .login-form-left fieldset label {
  font-weight: bold;
}
/* line 24, ../src/login.scss */
.login-form .login-form-left fieldset input {
  width: 156px;
  padding: 0 10px;
  margin-left: 30px;
}
/* line 30, ../src/login.scss */
.login-form .login-form-left .forgot-mess {
  overflow: hidden;
  width: 540px;
  height: 25px;
  padding-top: 5px;
  background: #e66f4f;
  font-weight: bold;
  text-align: center;
}
/* line 38, ../src/login.scss */
.login-form .login-form-left .forgot-mess .close-little {
  float: right;
  font-family: kp_icons;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}
/* line 48, ../src/login.scss */
.login-form .login-form-right {
  float: right;
  width: 280px;
  padding-left: 40px;
  height: 30px;
}
/* line 53, ../src/login.scss */
.login-form .login-form-right a {
  color: #fff;
  font-weight: bold;
  margin-left: 40px;
}
/* line 57, ../src/login.scss */
.login-form .login-form-right a.forgot {
  display: block;
  margin-top: 5px;
}
/* line 62, ../src/login.scss */
.login-form .login-form-right .mleft {
  margin-left: 60px;
}
/* line 65, ../src/login.scss */
.login-form .login-form-right .input-black {
  background: #000;
  color: #fff;
  height: 30px;
  border: none;
  padding: 0 20px;
}
/* line 73, ../src/login.scss */
.login-form .close {
  position: absolute;
  z-index: 9000;
  top: 4px;
  right: 10px;
  color: #fff;
  font-family: kp_icons;
  font-size: 20px;
  text-decoration: none;
}
