@import 'mixins';
@import "compass/css3/box-sizing";
@import "compass/typography/text/ellipsis";

.forms {
  .formset {
    .fields {
      @include inline-block;
      width: 300px;
      margin-right: 20px;
      fieldset {
        height: 80px;
        label {
          display: block;
          font-weight: bold;
          margin-bottom: 10px;
        }
        input {
          width: 300px;
          height: 32px;
          padding: 0 10px;
          @include box-sizing(border-box);
        }
        select {
          width: 298px; // до ужаса спорная строка! нужно обсудить с Вадиком
          height: 28px;
          padding: 0 0 0 10px;
        }
      }
    }
  }
  .controls {
    text-align: right;
    padding-top: 18px;
    margin-bottom: 20px;
    input {
      border: none;
      height: 30px;
      padding: 0 10px;
      background: #e66f50;
      color: #fff;
      margin-left: 20px;
    }
  }
  .top-decor {
    border-top: 1px solid #c0c0c0;
  }
  .controls-big {
    width: 622px;
  }
  .controls-small {
    width: 300px;
  }
  .forms-info {
    article {
      padding: 10px 20px;
      border: 6px solid #e66f50;
      border-left: 20px solid #e66f50;
      background: #f8f8f8;
      margin-top: 20px;
    }
  }
  .info-big {
    width: 622px;
    margin-bottom: 20px;
  }
}

.fieldset-with-error {
  position: relative;
  .error-text {
    position: absolute;
    left: 0; 
    right: 0;
    bottom: 18px;
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
    @include ellipsis;
  }
  &:hover, &.hide-error { 
    .error-text { display:none } 
  }
}

.flash-error, .fieldset-with-error .error-text {
  background: #e66f50;
  color: white;
}

.flash-error {
  margin-bottom: 1em;
  padding: 6px 10px;
}