@import 'mixins';

@font-face {
  font-family: 'kp_icons';
  src: url("../fonts/kp_icons.eot");
  src: url("../fonts/kp_icons.eot?#iefix") format('embedded-opentype'), url("../fonts/kp_icons.woff") format('woff'), url("../fonts/kp_icons.ttf") format('truetype'), url("../fonts/kp_icons.svg#kp_icons") format('svg');
  font-weight: normal;
  font-style: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
  font: 14px/20px Ubuntu;
  background: url(../images/back.png);
  color: $color;
}

a {
  text-decoration: underline;
  color: $link;
  &:hover {
    text-decoration: none;
  }
}

p {
  margin-bottom: 1em;
}

input[type="text"]:focus {outline: none;}
.text-placeholder {color: #aba9ab !important}

.cl {
  clear: both;
  font-size: 0px;
}

.sp_show {
  display: none;
}

.wrap {
  width: 940px;
  margin: 0 auto;
}

.wrap-row {
  overflow: hidden;
}

.white-wrap {
  width: 1100px;
  margin: 0 auto;
  background: #fff;
  // overflow: hidden;
  padding: 20px 0 60px 0;
}

.site-header {
  .panel {
    background: $color;
    height: 30px;
    color: #fff;
    text-align: right;
    a {
      color: #fff;
    }
    nav {
      float: left;
      ul {
        li {
          display: inline-block;
          height: 24px;
          padding-top: 6px;
          font-size: 14px;
          letter-spacing: 1px;
          vertical-align: text-bottom;
          text-transform: uppercase;
          margin-right: 26px;
          a {
            text-decoration: none;
            &:hover {
              color: #c0c0c0;
            }
          }
          a.current {
            color: #c0c0c0;
          }
        }
      }
    }
    .phone {
      float: right;
      width: right;
      height: 25px;
      padding: 5px 15px 0 15px;
      font-size: 18px;
      background: #535353;
    }
    .login {
      width: auto;
      float: right;
      height: 30px;
      // padding-top: 7px;
      background: gray;
      font-weight: bold;
      a {
        display: inline-block;
        height: 26px;
        padding: 4px 15px 0 15px;
        text-decoration: none;
      }
      .l-login {
        background: $link;
        margin-right: -3px;
        &:hover {
          background: #81a5a7;
        }
      }
      .l-registration {
        background: #f7941e;
        &:hover {
          background: #f9b461;
        }
      }
    }
    .user {
      max-width: 260px;
      float: right;
      padding-top: 5px;
      margin: 0 10px 0 10px;
      position: relative;
      .user_wrap {
        position: relative;
        height: 30px;
      }
      .user_name {
        display: block;
        max-width: 260px;
        overflow-x: hidden;
        text-decoration: none;
      }
      .user_controls {
        display: block;
        position: absolute;
        top: 0;
        right: -16px;
        .arrow {
          width: 23px;
          height: 22px;
          float: right;
          margin-right: -10px;
          background: url(../images/uc.png) no-repeat 3px 8px;
          cursor: pointer;
        }
        .logo_out {
          display: none;
        }
        &:hover {
          .logo_out {
            display: block;
            position: absolute;
            top: -5px;
            right: -76px;
            width: 44px;
            height: 25px;
            padding: 5px 15px 0 15px;
            font-size: 16px;
            background: #535353;
            color: #909090;
            text-decoration: none;
            text-align: center;
            &:hover {
              color: #808080;
            }
          }
        }
      }
    }
  }
  .navigations {
    margin-top: 20px;
    position: relative;
    .search {
      input {
        width: 280px;
        padding: 0 10px;
        height: 28px;
        border: 1px solid #e0e0e0;
        position: relative;
      }
      input:last-child {
        width: auto;
        background: none;
        border: none;
        color: #e0e0e0;
        font-family: kp_icons;
        font-size: 18px;
        position: absolute;
        top: 0;
        right: -3px;
      }
    }
    .logo {
      float: left;
    }
    .search {
      float: right;
    }
    .direction-nav {
      border-bottom: 1px solid $color;
      padding-bottom: 6px;
      margin: 30px 0 62px 0;
      ul {
        overflow: hidden;
        li {
          display: block;
          float: left;
          a {
            display: block;
            float: left;
            padding: 10px 10px;
            margin-right: 1px;
            text-transform: uppercase;
            text-decoration: none;
            color: $color;
            &:hover {
              border: 3px solid #edf2f2;
              padding: 7px 7px;
            }
          }
          &:last-child {
            margin-right: 0;
          }
        }
        li.current {
          a {
            background: $link;
            color: #fff;
          }
        }
      }
    }
    .sub-direction-nav {
      position: absolute;
      top: 130px;
      // margin-top: -62px;
      // height: 24px;
      // padding-top: 6px;
      // background: $light-gray;
      ul {
        li {
          display: inline;
          margin-right: 24px;
          a {
            font-size: 14px;
            font-style: italic;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .current {
          a {
            font-weight: bold;
          }
        }
      }
    }
  }
}



.site-footer {
  background: #808080;
  color: #fff;
  text-align: right;
  overflow: hidden;
  height: 50px;
  padding: 30px 0 30px 0;
  font-size: .9em;
  // position: absolute;
  a {
    color: #fff;
  }
  .foot-right {
    width: 378px;
    float: left;
    a.social {
      width: 30px;
      @include inline-block;
      position: relative;
      top: -4px;
      margin-left: 9px;
      &:first-child {
        margin-left: 0;
      }
    }
    span {
      width: auto;
      @include inline-block;
    }
    .mail {
      margin: 0 10px;
    }
  }
  .devs {
    float: right;
    width: 250px;
    margin-right: -40px;
    .dev_in {
      display: inline-block;
      vertical-align: top;
    }
    a {
      width: 80px;
      display: inline-block;
      vertical-align: top;
      position: relative;
      .name {
        display: inline-block;
        float: left;
        width: 70px;
        text-decoration: underline;
      }
      .logo {
        display: none;
        width: 80px;
        height: 50px;
      }
      &:hover {
        .name {
          display: none;
        }
        .logo {
          display: block;
          img {
            position: absolute;
            top: -16px;
            left: 10px;
          }
        }
      }
    }
  }
  nav {
    width: 348px;
    ul {
      float: left;
      li {
        display: inline;
        margin-right: 20px;
      }
    }
  }
}