<!-- .content -->
  <section class="site-content">
    <div class="white-wrap">
      <div class="wrap">
        <section class="forms auth">

          <h3><%= t(:forgot_password) %></h3>

          <p>Заполните форму ниже и инструкции для восстановления будут отправлен вам по указанному email.</p>

          <%= render 'shared/flash_error', flash: flash %>

          <%= form_for User.new, :as => :user, :url => user_password_path do |f| %>

            <%= render 'shared/field_with_error', form: f, name: :email, errors: @user.errors %>

            <div class="controls">
              <input class="blue" type="submit" value="Готово">
            </div>
          <% end %>

        </section>
      </div>
      <!-- /.wrap -->
    </div>
    <!-- /.white-wrap -->
  </section>
<!-- /.content -->