/* line 3, sass/about.scss */
.about {
  margin-bottom: 45px;
  padding-bottom: 60px;
  overflow: hidden;
}
/* line 7, sass/about.scss */
.about article {
  width: 440px;
  float: left;
}
/* line 10, sass/about.scss */
.about article:last-child {
  float: right;
}
/* line 13, sass/about.scss */
.about article img {
  margin-bottom: 15px;
  margin-top: 40px;
}
/* line 16, sass/about.scss */
.about article img:first-child {
  margin-top: 0;
}
/* line 20, sass/about.scss */
.about article h2 {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 25px;
}
/* line 25, sass/about.scss */
.about article h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 14px;
}
/* line 31, sass/about.scss */
.about h1 {
  clear: both;
  margin-bottom: 45px;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
}
/* line 39, sass/about.scss */
.about:first-child {
  margin-top: 48px;
}
