/* line 4, sass/account.scss */
.account header {
  margin: 40px 0;
}
/* line 6, sass/account.scss */
.account header h1 {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  float: left;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 14, sass/account.scss */
.account header span {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  margin-left: 75px;
}
/* line 19, sass/account.scss */
.account header a {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  margin-left: 10px;
}
/* line 24, sass/account.scss */
.account header .breadcrumps {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: bottom;
  margin-left: 20px;
}
/* line 28, sass/account.scss */
.account header .breadcrumps li {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: bottom;
}
/* line 31, sass/account.scss */
.account header .breadcrumps li.step {
  color: #c0c0c0;
}
/* line 34, sass/account.scss */
.account header .breadcrumps li.current {
  color: #404040;
}

/* line 42, sass/account.scss */
.orders {
  margin: 40px 0;
}
/* line 44, sass/account.scss */
.orders h3 {
  font-size: 21px;
  margin-bottom: 45px;
}
/* line 48, sass/account.scss */
.orders table {
  width: 100%;
}
/* line 52, sass/account.scss */
.orders table tbody tr:nth-child(2n+2) {
  background: #f8f8f8;
}
/* line 55, sass/account.scss */
.orders table tbody tr td {
  width: 16%;
  padding: 5px 10px;
}
/* line 59, sass/account.scss */
.orders table tbody tr th {
  font-weight: bold;
  padding: 5px 10px;
}

/* line 69, sass/account.scss */
.addresses header {
  margin-bottom: 25px;
}
/* line 71, sass/account.scss */
.addresses header h3 {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  font-size: 21px;
}
/* line 76, sass/account.scss */
.addresses header a {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  margin-left: 25px;
}
/* line 82, sass/account.scss */
.addresses .adress {
  background: #f8f8f8;
  padding: 20px;
}
/* line 85, sass/account.scss */
.addresses .adress .desc {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  width: 620px;
}
/* line 90, sass/account.scss */
.addresses .adress .controls {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  width: 220px;
  margin-left: 50px;
}
/* line 95, sass/account.scss */
.addresses .adress .controls a {
  margin-right: 20px;
}

/* line 102, sass/account.scss */
.order {
  margin: 30px 0;
}
/* line 104, sass/account.scss */
.order h3 {
  font-size: 21px;
  margin-bottom: 25px;
}
/* line 108, sass/account.scss */
.order table {
  width: 100%;
}
/* line 111, sass/account.scss */
.order table tr th {
  background: #f8f8f8;
  width: 20%;
  padding: 5px 10px;
}
/* line 115, sass/account.scss */
.order table tr th:last-child {
  width: 20%;
}
/* line 119, sass/account.scss */
.order table tr td {
  width: 20%;
  padding: 5px 10px;
}
/* line 122, sass/account.scss */
.order table tr td:last-child {
  width: 20%;
}
