@-webkit-keyframes Rotate {
  /* line 4, sass/cart.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 7, sass/cart.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* line 12, sass/cart.scss */
.scrolled-to-bottom .cart {
  position: static;
}

/* line 16, sass/cart.scss */
.cart.stat {
  position: static;
}

/* line 20, sass/cart.scss */
.cart {
  position: fixed;
  background: #fff;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 200;
}
/* line 27, sass/cart.scss */
.cart .panel {
  position: relative;
  background: #404040;
  height: 30px;
  color: #fff;
  font-weight: bold;
  z-index: 250;
}
/* line 34, sass/cart.scss */
.cart .panel .panel_in {
  cursor: pointer;
  overflow: hidden;
}
/* line 38, sass/cart.scss */
.cart .panel a {
  color: #fff;
  text-decoration: none;
}
/* line 42, sass/cart.scss */
.cart .panel .items {
  display: block;
  width: 130px;
  height: 25px;
  padding: 5px 0 0 0;
  text-align: center;
  float: left;
  background: #e66f50;
}
/* line 51, sass/cart.scss */
.cart .panel .refresh {
  position: absolute;
  right: 36px;
  width: 30px;
  height: 30px;
}
/* line 56, sass/cart.scss */
.cart .panel .refresh.active {
  background: url(../images/refresh.png) center center no-repeat;
  -webkit-animation-name: Rotate;
  -webkit-animation-duration: 1s;
  animation-name: Rotate;
  animation-duration: 1s;
}
/* line 64, sass/cart.scss */
.cart .panel .cart-order {
  position: absolute;
  top: 0;
  left: 130px;
  display: block;
  height: 25px;
  padding: 5px 20px 0 20px;
  float: left;
  background: #f3a062;
  z-index: 300;
  cursor: pointer;
}
/* line 76, sass/cart.scss */
.cart .panel .control {
  display: block;
  height: 25px;
  padding: 5px 20px 0 20px;
  float: right;
  font-family: kp_icons;
}
/* line 82, sass/cart.scss */
.cart .panel .control .close {
  display: none;
}
/* line 86, sass/cart.scss */
.cart .panel .control.active .open {
  display: none;
}
/* line 89, sass/cart.scss */
.cart .panel .control.active .close {
  display: block;
}
/* line 95, sass/cart.scss */
.cart .forsale {
  width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
  height: 240px;
  overflow-y: auto;
}
/* line 101, sass/cart.scss */
.cart .forsale .item {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 220px;
  padding: 0 52px 0 0;
  margin-bottom: 30px;
  overflow: hidden;
}
/* line 107, sass/cart.scss */
.cart .forsale .item img {
  display: block;
  float: left;
  width: 60px;
  height: auto;
}
/* line 113, sass/cart.scss */
.cart .forsale .item .desc {
  display: block;
  float: left;
  width: 140px;
  padding: 0 0 0 20px;
  margin-left: -3px;
}
/* line 119, sass/cart.scss */
.cart .forsale .item .desc .name {
  display: block;
  color: #202020;
  font-weight: bold;
  overflow-y: hidden;
  height: 40px;
}
/* line 126, sass/cart.scss */
.cart .forsale .item .desc .price {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #e66f50;
  margin-bottom: 10px;
}
/* line 134, sass/cart.scss */
.cart .forsale .item .desc .controls .inputs {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 62px;
  padding: 0;
  margin-right: 22px;
  border: 1px solid #e2e2e2;
}
/* line 141, sass/cart.scss */
.cart .forsale .item .desc .controls .inputs a {
  display: block;
  float: left;
  width: 20px;
  height: 22px;
  background: #e2e2e2;
  text-decoration: none;
  text-align: center;
  color: #808080;
}
/* line 151, sass/cart.scss */
.cart .forsale .item .desc .controls .inputs .count {
  display: block;
  float: left;
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 0;
  border: none;
  text-align: center;
}
/* line 162, sass/cart.scss */
.cart .forsale .item .desc .controls .delete {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: auto;
  font-family: kp_icons;
  text-decoration: none;
  color: #e2e2e2;
}
