/* line 3, sass/checkout.scss */
.checkout {
  position: relative;
}
/* line 5, sass/checkout.scss */
.checkout header {
  margin-bottom: 45px;
}
/* line 7, sass/checkout.scss */
.checkout header h3 {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  font-size: 21px;
}
/* line 12, sass/checkout.scss */
.checkout header a {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  margin-left: 25px;
}
/* line 18, sass/checkout.scss */
.checkout .summary {
  position: absolute;
  top: 40px;
  right: 0;
  width: 230px;
  padding: 20px;
  background: #f8f8f8;
}
/* line 25, sass/checkout.scss */
.checkout .summary h3 {
  font-size: 16px;
  font-weight: bold;
  color: #808080;
}
/* line 30, sass/checkout.scss */
.checkout .summary .item {
  overflow: hidden;
  color: #202020;
}
/* line 33, sass/checkout.scss */
.checkout .summary .item .name {
  float: left;
}
/* line 36, sass/checkout.scss */
.checkout .summary .item .price {
  float: right;
  font-weight: bold;
}
/* line 40, sass/checkout.scss */
.checkout .summary .item.all {
  font-size: 18px;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #c0c0c0;
}

/* line 50, sass/checkout.scss */
.auth {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 280px;
  margin-right: 100px;
}
/* line 54, sass/checkout.scss */
.auth h3 {
  font-size: 21px;
  margin-bottom: 40px;
}
/* line 58, sass/checkout.scss */
.auth fieldset {
  margin-bottom: 20px;
}
/* line 60, sass/checkout.scss */
.auth fieldset label {
  display: block;
  margin-bottom: 10px;
}
/* line 64, sass/checkout.scss */
.auth fieldset input {
  width: 260px;
  padding: 0 10px;
  height: 28px;
}
/* line 69, sass/checkout.scss */
.auth fieldset .remember {
  overflow: hidden;
  margin-top: 10px;
}
/* line 72, sass/checkout.scss */
.auth fieldset .remember label {
  float: left;
}
/* line 74, sass/checkout.scss */
.auth fieldset .remember label input {
  width: auto;
}
/* line 75, sass/checkout.scss */
.auth fieldset .remember label input.remember_check {
  width: auto;
  height: auto;
}
/* line 82, sass/checkout.scss */
.auth fieldset .remember a {
  float: right;
  display: block;
  margin-top: 1px;
}
/* line 89, sass/checkout.scss */
.auth .controls {
  overflow: hidden;
  margin-top: -20px;
}
/* line 92, sass/checkout.scss */
.auth .controls input {
  float: left;
  margin-left: 0;
  font-weight: bold;
  padding: 0 20px;
}
/* line 97, sass/checkout.scss */
.auth .controls input.blue {
  background: #4c7f82;
}
/* line 101, sass/checkout.scss */
.auth .controls a {
  float: right;
  border: none;
  height: 26px;
  padding: 4px 20px 0 20px;
  background: #f7941e;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

/* line 115, sass/checkout.scss */
.adress-choise fieldset {
  width: 622px;
  margin-bottom: 18px;
}
/* line 118, sass/checkout.scss */
.adress-choise fieldset input {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
}
/* line 121, sass/checkout.scss */
.adress-choise fieldset label {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 594px;
}
/* line 126, sass/checkout.scss */
.adress-choise .controls {
  text-align: left;
  margin: 0;
}
/* line 129, sass/checkout.scss */
.adress-choise .controls input {
  margin-left: 0;
}
/* line 134, sass/checkout.scss */
.adress-choise .payment-comment h3 {
  font-size: 21px;
  margin-bottom: 25px;
}
/* line 138, sass/checkout.scss */
.adress-choise .payment-comment textarea {
  width: 594px;
  height: 68px;
  border: 1px solid #c0c0c0;
}

/* line 146, sass/checkout.scss */
.approve {
  width: 594px;
  margin-bottom: 40px;
}
/* line 149, sass/checkout.scss */
.approve header {
  margin-bottom: 0;
}
/* line 151, sass/checkout.scss */
.approve header h3 {
  margin-bottom: 15px;
}
