/* line 3, sass/index.scss */
.promo {
  margin-bottom: 80px;
  position: relative;
}
/* line 6, sass/index.scss */
.promo .baners {
  border: 1px solid #f7941e;
  padding: 20px 0 20px 50px;
  height: 298px;
}
/* line 10, sass/index.scss */
.promo .baners .item {
  width: 820px;
  margin: 0 auto;
  z-index: 1000;
}
/* line 14, sass/index.scss */
.promo .baners .item a {
  text-decoration: none;
}
/* line 17, sass/index.scss */
.promo .baners .item image {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
}
/* line 20, sass/index.scss */
.promo .baners .item article {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 480px;
  margin-left: 36px;
  padding: 26px 0 0 0;
}
/* line 25, sass/index.scss */
.promo .baners .item article hgroup {
  margin: 0 0 16px 0;
}
/* line 27, sass/index.scss */
.promo .baners .item article hgroup h2 {
  font-size: 48px;
  margin: 0 0 20px 0;
}
/* line 30, sass/index.scss */
.promo .baners .item article hgroup h2 a {
  color: #404040;
  text-decoration: none;
}
/* line 35, sass/index.scss */
.promo .baners .item article hgroup h3 {
  font-size: 21px;
}
/* line 39, sass/index.scss */
.promo .baners .item article .price {
  display: block;
  color: #4c7f82;
  font-weight: bold;
  font-size: 21px;
  margin-top: 22px;
}
/* line 49, sass/index.scss */
.promo .baners-nav {
  width: 540px;
  position: absolute;
  top: 300px;
  right: 0;
  z-index: 100;
}
/* line 55, sass/index.scss */
.promo .baners-nav li {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
/* line 59, sass/index.scss */
.promo .baners-nav li.current a {
  color: #f7941e;
  background: #f7941e;
}
/* line 64, sass/index.scss */
.promo .baners-nav li:first-child {
  margin-left: 0;
}
/* line 67, sass/index.scss */
.promo .baners-nav li a {
  display: block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 1px solid #f7941e;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
}
/* line 76, sass/index.scss */
.promo .baners-nav li a:hover {
  background: #f7941e;
  color: #f7941e;
}
/* line 83, sass/index.scss */
.promo .baners-nav-ctl {
  height: 50px;
  padding-top: 30px;
  font-family: kp_icons;
  font-size: 26px;
  text-decoration: none;
  color: #f7941e;
}
/* line 91, sass/index.scss */
.promo .baners-nav-left {
  position: absolute;
  top: 138px;
  padding-left: 12px;
  left: 0;
}
/* line 96, sass/index.scss */
.promo .baners-nav-left:hover {
  padding-left: 7px;
  border-left: 5px solid #f7941e;
}
/* line 101, sass/index.scss */
.promo .baners-nav-right {
  position: absolute;
  top: 138px;
  padding-right: 12px;
  right: 0;
}
/* line 106, sass/index.scss */
.promo .baners-nav-right:hover {
  padding-right: 7px;
  border-right: 5px solid #f7941e;
}
