@font-face {
  font-family: 'kp_icons';
  src: url("../fonts/kp_icons.eot");
  src: url("../fonts/kp_icons.eot?#iefix") format("embedded-opentype"), url("../fonts/kp_icons.woff") format("woff"), url("../fonts/kp_icons.ttf") format("truetype"), url("../fonts/kp_icons.svg#kp_icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 11, sass/layout.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 15, sass/layout.scss */
body {
  font: 14px/20px Ubuntu;
  background: url(../images/back.png);
  color: #404040;
}

/* line 21, sass/layout.scss */
a {
  text-decoration: underline;
  color: #4c7f82;
}
/* line 24, sass/layout.scss */
a:hover {
  text-decoration: none;
}

/* line 29, sass/layout.scss */
p {
  margin-bottom: 1em;
}

/* line 33, sass/layout.scss */
input[type="text"]:focus {
  outline: none;
}

/* line 35, sass/layout.scss */
.sp_show {
  display: none;
}

/* line 39, sass/layout.scss */
.wrap {
  width: 940px;
  margin: 0 auto;
}

/* line 44, sass/layout.scss */
.wrap-row {
  overflow: hidden;
}

/* line 48, sass/layout.scss */
.white-wrap {
  width: 1100px;
  margin: 0 auto;
  background: #fff;
  padding: 20px 0 60px 0;
}

/* line 57, sass/layout.scss */
.site-header .panel {
  background: #404040;
  height: 30px;
  overflow: hidden;
  color: #fff;
  text-align: right;
}
/* line 63, sass/layout.scss */
.site-header .panel a {
  color: #fff;
}
/* line 66, sass/layout.scss */
.site-header .panel nav {
  float: left;
}
/* line 69, sass/layout.scss */
.site-header .panel nav ul li {
  display: inline-block;
  height: 24px;
  padding-top: 6px;
  font-size: 14px;
  letter-spacing: 1px;
  vertical-align: text-bottom;
  text-transform: uppercase;
  margin-right: 26px;
}
/* line 78, sass/layout.scss */
.site-header .panel nav ul li a {
  text-decoration: none;
}
/* line 80, sass/layout.scss */
.site-header .panel nav ul li a:hover {
  color: #c0c0c0;
}
/* line 84, sass/layout.scss */
.site-header .panel nav ul li a.current {
  color: #c0c0c0;
}
/* line 90, sass/layout.scss */
.site-header .panel .phone {
  float: right;
  width: right;
  height: 25px;
  padding: 5px 15px 0 15px;
  font-size: 18px;
  background: #535353;
}
/* line 98, sass/layout.scss */
.site-header .panel .login {
  width: auto;
  float: right;
  height: 30px;
  background: gray;
  font-weight: bold;
}
/* line 105, sass/layout.scss */
.site-header .panel .login a {
  display: inline-block;
  height: 26px;
  padding: 4px 15px 0 15px;
  text-decoration: none;
}
/* line 111, sass/layout.scss */
.site-header .panel .login .l-login {
  background: #4c7f82;
  margin-right: -3px;
}
/* line 114, sass/layout.scss */
.site-header .panel .login .l-login:hover {
  background: #81a5a7;
}
/* line 118, sass/layout.scss */
.site-header .panel .login .l-registration {
  background: #f7941e;
}
/* line 120, sass/layout.scss */
.site-header .panel .login .l-registration:hover {
  background: #f9b461;
}
/* line 125, sass/layout.scss */
.site-header .panel .user {
  max-width: 260px;
  float: right;
  padding-top: 5px;
  margin: 0 10px 0 10px;
  position: relative;
}
/* line 131, sass/layout.scss */
.site-header .panel .user:before {
  content: "";
  position: absolute;
  right: -14px;
  top: 14px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #fff;
}
/* line 142, sass/layout.scss */
.site-header .panel .user .user_name {
  display: block;
  max-width: 260px;
  overflow-x: hidden;
  text-decoration: none;
}
/* line 150, sass/layout.scss */
.site-header .navigations {
  margin-top: 20px;
  position: relative;
}
/* line 154, sass/layout.scss */
.site-header .navigations .search input {
  width: 280px;
  padding: 0 10px;
  height: 28px;
  border: 1px solid #e0e0e0;
  position: relative;
}
/* line 161, sass/layout.scss */
.site-header .navigations .search input:last-child {
  width: auto;
  background: none;
  border: none;
  color: #e0e0e0;
  font-family: kp_icons;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: -3px;
}
/* line 173, sass/layout.scss */
.site-header .navigations .logo {
  float: left;
}
/* line 176, sass/layout.scss */
.site-header .navigations .search {
  float: right;
}
/* line 179, sass/layout.scss */
.site-header .navigations .direction-nav {
  border-bottom: 1px solid #404040;
  padding-bottom: 6px;
  margin: 30px 0 62px 0;
}
/* line 184, sass/layout.scss */
.site-header .navigations .direction-nav ul li {
  display: inline-block;
  margin-right: 1px;
}
/* line 187, sass/layout.scss */
.site-header .navigations .direction-nav ul li a {
  display: inline-block;
  padding: 10px 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #404040;
}
/* line 193, sass/layout.scss */
.site-header .navigations .direction-nav ul li a:hover {
  border: 3px solid #edf2f2;
  padding: 7px 7px;
}
/* line 198, sass/layout.scss */
.site-header .navigations .direction-nav ul li:last-child {
  margin-right: 0;
}
/* line 203, sass/layout.scss */
.site-header .navigations .direction-nav ul li.current a {
  background: #4c7f82;
  color: #fff;
}
/* line 210, sass/layout.scss */
.site-header .navigations .sub-direction-nav {
  position: absolute;
  top: 130px;
}
/* line 218, sass/layout.scss */
.site-header .navigations .sub-direction-nav ul li {
  display: inline;
  margin-right: 24px;
}
/* line 221, sass/layout.scss */
.site-header .navigations .sub-direction-nav ul li a {
  font-size: 14px;
  font-style: italic;
  text-decoration: none;
}
/* line 225, sass/layout.scss */
.site-header .navigations .sub-direction-nav ul li a:hover {
  text-decoration: underline;
}
/* line 231, sass/layout.scss */
.site-header .navigations .sub-direction-nav ul .current a {
  font-weight: bold;
}

/* line 242, sass/layout.scss */
.site-footer {
  background: #808080;
  color: #fff;
  text-align: right;
  overflow: hidden;
  padding: 30px 0 30px 0;
  font-size: .9em;
}
/* line 250, sass/layout.scss */
.site-footer a {
  color: #fff;
}
/* line 253, sass/layout.scss */
.site-footer .foot-right {
  float: left;
}
/* line 256, sass/layout.scss */
.site-footer .foot-right a.social {
  width: 30px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  position: relative;
}
/* line 262, sass/layout.scss */
.site-footer .foot-right a.social img {
  position: absolute;
  top: -4px;
}
/* line 267, sass/layout.scss */
.site-footer .foot-right span {
  width: auto;
  display: inline-block;
  vertical-align: top;
}
/* line 272, sass/layout.scss */
.site-footer .foot-right .mail {
  margin-right: 10px;
}
/* line 276, sass/layout.scss */
.site-footer .devs {
  float: right;
  width: 280px;
  margin-right: -60px;
}
/* line 282, sass/layout.scss */
.site-footer .devs .dev_in {
  display: inline-block;
  vertical-align: top;
}
/* line 286, sass/layout.scss */
.site-footer .devs a {
  width: 80px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
/* line 291, sass/layout.scss */
.site-footer .devs a .name {
  display: inline-block;
  float: left;
  width: 70px;
  padding-left: 10px;
}
/* line 297, sass/layout.scss */
.site-footer .devs a .logo {
  display: none;
  width: 80px;
  height: 77px;
}
/* line 303, sass/layout.scss */
.site-footer .devs a:hover .name {
  display: none;
}
/* line 306, sass/layout.scss */
.site-footer .devs a:hover .logo {
  display: block;
}
/* line 308, sass/layout.scss */
.site-footer .devs a:hover .logo img {
  position: absolute;
  top: -16px;
  left: 10px;
}
/* line 318, sass/layout.scss */
.site-footer nav ul {
  float: left;
}
/* line 320, sass/layout.scss */
.site-footer nav ul li {
  display: inline;
  margin-right: 20px;
}
