@font-face {
  font-family: 'kp_icons';
  src: url("../fonts/kp_icons.eot");
  src: url("../fonts/kp_icons.eot?#iefix") format("embedded-opentype"), url("../fonts/kp_icons.woff") format("woff"), url("../fonts/kp_icons.ttf") format("truetype"), url("../fonts/kp_icons.svg#kp_icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ALSRubl-Verdana';
  src: url("../fonts/alsrubl-verdana-regular.eot");
  src: url("../fonts/alsrubl-verdana-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/alsrubl-verdana-regular.woff") format("woff"), url("../fonts/alsrubl-verdana-regular.ttf") format("truetype"), url("../fonts/alsrubl-verdana-regular.svg#ALSRublRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 20, sass/layout.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 24, sass/layout.scss */
body {
  font: 14px/20px Ubuntu;
  background: url(../images/back.png);
  color: #404040;
}

/* line 30, sass/layout.scss */
a {
  text-decoration: underline;
  color: #4c7f82;
}
/* line 33, sass/layout.scss */
a:hover {
  text-decoration: none;
}

/* line 38, sass/layout.scss */
p {
  margin-bottom: 1em;
}

/* line 42, sass/layout.scss */
input[type="text"]:focus {
  outline: none;
}

/* line 43, sass/layout.scss */
.text-placeholder {
  color: #aba9ab !important;
}

/* line 45, sass/layout.scss */
input[type="text"]:-webkit-autofill {
  background-color: none !important;
  background-image: none !important;
}

/* line 49, sass/layout.scss */
.cl {
  clear: both;
  font-size: 0px;
}

/* line 54, sass/layout.scss */
.sp_show {
  display: none;
}

/* line 58, sass/layout.scss */
.rouble {
  font-family: "ALSRubl-Verdana", Verdana, sans-serif !important;
  line-height: normal;
  font-weight: normal !important;
  font-style: normal !important;
}
/* line 63, sass/layout.scss */
.rouble span {
  display: none;
}

/* line 66, sass/layout.scss */
.wrap {
  width: 940px;
  margin: 0 auto;
}

/* line 71, sass/layout.scss */
.wrap-row {
  overflow: hidden;
}

/* All this needs to show bottom scroll only when window width < 940px */
/* line 76, sass/layout.scss */
.site-content-wrap {
  min-width: 940px;
  overflow: hidden;
}

/* line 80, sass/layout.scss */
.site-content {
  width: 940px;
  margin: 0 auto;
}

/* line 84, sass/layout.scss */
.white-wrap {
  width: 1100px;
  margin: 0 0 0 -80px;
  background: #fff;
  padding: 20px 0 60px 0;
}

/* line 92, sass/layout.scss */
.site-header .panel {
  background: #404040;
  height: 30px;
  color: #fff;
  text-align: right;
}
/* line 97, sass/layout.scss */
.site-header .panel a {
  color: #fff;
}
/* line 100, sass/layout.scss */
.site-header .panel nav {
  float: left;
}
/* line 103, sass/layout.scss */
.site-header .panel nav ul li {
  display: inline-block;
  height: 24px;
  padding-top: 6px;
  font-size: 14px;
  letter-spacing: 1px;
  vertical-align: text-bottom;
  text-transform: uppercase;
  margin-right: 26px;
}
/* line 112, sass/layout.scss */
.site-header .panel nav ul li a {
  text-decoration: none;
}
/* line 114, sass/layout.scss */
.site-header .panel nav ul li a:hover {
  color: #c0c0c0;
}
/* line 118, sass/layout.scss */
.site-header .panel nav ul li a.current {
  color: #c0c0c0;
}
/* line 124, sass/layout.scss */
.site-header .panel .phone {
  float: right;
  width: right;
  height: 25px;
  padding: 5px 15px 0 15px;
  font-size: 18px;
  background: #535353;
}
/* line 132, sass/layout.scss */
.site-header .panel .login {
  width: auto;
  float: right;
  height: 30px;
  background: gray;
  font-weight: bold;
}
/* line 139, sass/layout.scss */
.site-header .panel .login a {
  display: inline-block;
  height: 26px;
  padding: 4px 15px 0 15px;
  text-decoration: none;
}
/* line 145, sass/layout.scss */
.site-header .panel .login .l-login {
  background: #4c7f82;
  margin-right: -3px;
}
/* line 148, sass/layout.scss */
.site-header .panel .login .l-login:hover {
  background: #81a5a7;
}
/* line 152, sass/layout.scss */
.site-header .panel .login .l-registration {
  background: #f7941e;
}
/* line 154, sass/layout.scss */
.site-header .panel .login .l-registration:hover {
  background: #f9b461;
}
/* line 159, sass/layout.scss */
.site-header .panel .user {
  max-width: 260px;
  float: right;
  padding-top: 5px;
  margin: 0 10px 0 10px;
  position: relative;
}
/* line 165, sass/layout.scss */
.site-header .panel .user .user_wrap {
  position: relative;
  height: 30px;
}
/* line 169, sass/layout.scss */
.site-header .panel .user .user_name {
  display: block;
  max-width: 260px;
  overflow-x: hidden;
  text-decoration: none;
}
/* line 175, sass/layout.scss */
.site-header .panel .user .user_controls {
  display: block;
  position: absolute;
  top: 0;
  right: -16px;
}
/* line 180, sass/layout.scss */
.site-header .panel .user .user_controls .arrow {
  width: 23px;
  height: 22px;
  float: right;
  margin-right: -10px;
  background: url(../images/uc.png) no-repeat 3px 8px;
  cursor: pointer;
}
/* line 188, sass/layout.scss */
.site-header .panel .user .user_controls .logo_out {
  display: none;
}
/* line 192, sass/layout.scss */
.site-header .panel .user .user_controls:hover .logo_out {
  display: block;
  position: absolute;
  top: -5px;
  right: -76px;
  width: 44px;
  height: 25px;
  padding: 5px 15px 0 15px;
  font-size: 16px;
  background: #535353;
  color: #909090;
  text-decoration: none;
  text-align: center;
}
/* line 205, sass/layout.scss */
.site-header .panel .user .user_controls:hover .logo_out:hover {
  color: #808080;
}
/* line 213, sass/layout.scss */
.site-header .navigations {
  margin-top: 20px;
  position: relative;
}
/* line 217, sass/layout.scss */
.site-header .navigations .search input {
  width: 280px;
  padding: 0 10px;
  height: 28px;
  border: 1px solid #e0e0e0;
  position: relative;
}
/* line 224, sass/layout.scss */
.site-header .navigations .search input:last-child {
  width: auto;
  background: none;
  border: none;
  color: #e0e0e0;
  font-family: kp_icons;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: -3px;
}
/* line 236, sass/layout.scss */
.site-header .navigations .logo {
  float: left;
}
/* line 239, sass/layout.scss */
.site-header .navigations .search {
  float: right;
}
/* line 242, sass/layout.scss */
.site-header .navigations .direction-nav {
  border-bottom: 1px solid #404040;
  padding-bottom: 6px;
  margin: 30px 0 62px 0;
}
/* line 246, sass/layout.scss */
.site-header .navigations .direction-nav ul {
  overflow: hidden;
  width: 100%;
}
/* line 249, sass/layout.scss */
.site-header .navigations .direction-nav ul li {
  display: block;
  float: left;
}
/* line 252, sass/layout.scss */
.site-header .navigations .direction-nav ul li a {
  display: block;
  float: left;
  border: 3px solid transparent;
  padding: 7px 7px;
  margin-right: 4px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: #404040;
}
/* line 263, sass/layout.scss */
.site-header .navigations .direction-nav ul li a:hover {
  border-color: #edf2f2;
}
/* line 267, sass/layout.scss */
.site-header .navigations .direction-nav ul li:last-child {
  margin-right: 0;
}
/* line 271, sass/layout.scss */
.site-header .navigations .direction-nav ul li.current a {
  background: #4c7f82;
  color: #fff;
}
/* line 277, sass/layout.scss */
.site-header .navigations .direction-nav ul li.designers a {
  color: #f7941e;
}
/* line 281, sass/layout.scss */
.site-header .navigations .direction-nav ul li.designers:hover a {
  background: none;
  border-color: #f7941e;
}
/* line 287, sass/layout.scss */
.site-header .navigations .direction-nav ul li.designers.current a {
  color: #fff;
  background: #f7941e;
  border-color: #f7941e;
}
/* line 295, sass/layout.scss */
.site-header .navigations .direction-nav ul li.publishers a {
  color: #4c7f82;
}
/* line 299, sass/layout.scss */
.site-header .navigations .direction-nav ul li.publishers:hover a {
  background: none;
  border-color: #4c7f82;
}
/* line 305, sass/layout.scss */
.site-header .navigations .direction-nav ul li.publishers.current a {
  color: #fff;
  background: #4c7f82;
  border-color: #4c7f82;
}
/* line 315, sass/layout.scss */
.site-header .navigations .sub-direction-nav {
  margin-top: -53px;
  margin-bottom: 12px;
}
/* line 324, sass/layout.scss */
.site-header .navigations .sub-direction-nav ul li {
  display: inline;
  margin-right: 24px;
}
/* line 327, sass/layout.scss */
.site-header .navigations .sub-direction-nav ul li a {
  font-size: 14px;
  font-style: italic;
  text-decoration: none;
}
/* line 331, sass/layout.scss */
.site-header .navigations .sub-direction-nav ul li a:hover {
  text-decoration: underline;
}
/* line 337, sass/layout.scss */
.site-header .navigations .sub-direction-nav ul .current a {
  font-weight: bold;
}

/* line 353, sass/layout.scss */
.site-footer {
  background: #808080;
  color: #fff;
  text-align: right;
  overflow: hidden;
  height: 50px;
  padding: 30px 0 30px 0;
  font-size: .9em;
}
/* line 362, sass/layout.scss */
.site-footer a {
  color: #fff;
}
/* line 365, sass/layout.scss */
.site-footer .foot-right {
  width: 430px;
  float: left;
}
/* line 368, sass/layout.scss */
.site-footer .foot-right a.social {
  width: 30px;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: -4px;
  margin-left: 9px;
}
/* line 374, sass/layout.scss */
.site-footer .foot-right a.social:first-child {
  margin-left: 0;
}
/* line 378, sass/layout.scss */
.site-footer .foot-right span {
  width: auto;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
}
/* line 382, sass/layout.scss */
.site-footer .foot-right .mail {
  margin: 0 10px;
}
/* line 386, sass/layout.scss */
.site-footer .devs {
  float: right;
  width: 200px;
  margin-right: -40px;
}
/* line 390, sass/layout.scss */
.site-footer .devs .dev_in {
  display: inline-block;
  vertical-align: top;
}
/* line 394, sass/layout.scss */
.site-footer .devs a {
  width: 80px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
/* line 399, sass/layout.scss */
.site-footer .devs a .name {
  display: inline-block;
  float: left;
  width: 70px;
  text-decoration: underline;
}
/* line 405, sass/layout.scss */
.site-footer .devs a .logo {
  display: none;
  width: 80px;
  height: 50px;
}
/* line 411, sass/layout.scss */
.site-footer .devs a:hover .name {
  display: none;
}
/* line 414, sass/layout.scss */
.site-footer .devs a:hover .logo {
  display: block;
}
/* line 416, sass/layout.scss */
.site-footer .devs a:hover .logo img {
  position: absolute;
  top: -16px;
  left: 10px;
}
/* line 425, sass/layout.scss */
.site-footer nav {
  width: 348px;
}
/* line 427, sass/layout.scss */
.site-footer nav ul {
  float: left;
}
/* line 429, sass/layout.scss */
.site-footer nav ul li {
  display: inline;
  margin-right: 20px;
}

/* line 437, sass/layout.scss */
.errorpage {
  text-align: center;
}
/* line 439, sass/layout.scss */
.errorpage h1 {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 25px;
}

/* line 446, sass/layout.scss */
a, a:active {
  outline: none;
}
