@font-face {
  font-family: 'kp_icons';
  src: url("../fonts/kp_icons.eot");
  src: url("../fonts/kp_icons.eot?#iefix") format("embedded-opentype"), url("../fonts/kp_icons.woff") format("woff"), url("../fonts/kp_icons.ttf") format("truetype"), url("../fonts/kp_icons.svg#kp_icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubl Sign";
  src: url("../fonts/rouble.ttf") format("truetype"), url("../fonts/rouble.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubl Sign";
  src: url("../fonts/ruble.eot");
}

/* line 20, sass/layout.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 24, sass/layout.scss */
body {
  font: 14px/20px Ubuntu;
  background: url(../images/back.png);
  color: #404040;
}

/* line 30, sass/layout.scss */
a {
  text-decoration: underline;
  color: #4c7f82;
}
/* line 33, sass/layout.scss */
a:hover {
  text-decoration: none;
}

/* line 38, sass/layout.scss */
p {
  margin-bottom: 1em;
}

/* line 42, sass/layout.scss */
input[type="text"]:focus {
  outline: none;
}

/* line 43, sass/layout.scss */
.text-placeholder {
  color: #aba9ab !important;
}

/* line 45, sass/layout.scss */
input[type="text"]:-webkit-autofill {
  background-color: none !important;
  background-image: none !important;
}

/* line 49, sass/layout.scss */
.cl {
  clear: both;
  font-size: 0px;
}

/* line 54, sass/layout.scss */
.sp_show {
  display: none;
}

/* line 58, sass/layout.scss */
span.rouble {
  font-family: "Rubl Sign" !important;
  text-transform: uppercase;
  \/\/text-transform: none;
}

/* line 59, sass/layout.scss */
span.rouble span {
  position: absolute;
  overflow: hidden;
  width: .45em;
  height: 1em;
  margin: 0.17em 0 0 -0.65em;
  \/\/display: none;
}

/* line 60, sass/layout.scss */
span.rouble span:before {
  content: '\2013';
}

/* line 62, sass/layout.scss */
span.rouble span {
  margin: 0.105em 0 0 -0.65em \0/IE89;
  /* IE8 + 9 + IE10pp4  */
}

/* line 66, sass/layout.scss */
.wrap {
  width: 940px;
  margin: 0 auto;
}

/* line 71, sass/layout.scss */
.wrap-row {
  overflow: hidden;
}

/* line 75, sass/layout.scss */
.white-wrap {
  width: 1100px;
  margin: 0 auto;
  background: #fff;
  padding: 20px 0 60px 0;
}

/* line 84, sass/layout.scss */
.site-header .panel {
  background: #404040;
  height: 30px;
  color: #fff;
  text-align: right;
}
/* line 89, sass/layout.scss */
.site-header .panel a {
  color: #fff;
}
/* line 92, sass/layout.scss */
.site-header .panel nav {
  float: left;
}
/* line 95, sass/layout.scss */
.site-header .panel nav ul li {
  display: inline-block;
  height: 24px;
  padding-top: 6px;
  font-size: 14px;
  letter-spacing: 1px;
  vertical-align: text-bottom;
  text-transform: uppercase;
  margin-right: 26px;
}
/* line 104, sass/layout.scss */
.site-header .panel nav ul li a {
  text-decoration: none;
}
/* line 106, sass/layout.scss */
.site-header .panel nav ul li a:hover {
  color: #c0c0c0;
}
/* line 110, sass/layout.scss */
.site-header .panel nav ul li a.current {
  color: #c0c0c0;
}
/* line 116, sass/layout.scss */
.site-header .panel .phone {
  float: right;
  width: right;
  height: 25px;
  padding: 5px 15px 0 15px;
  font-size: 18px;
  background: #535353;
}
/* line 124, sass/layout.scss */
.site-header .panel .login {
  width: auto;
  float: right;
  height: 30px;
  background: gray;
  font-weight: bold;
}
/* line 131, sass/layout.scss */
.site-header .panel .login a {
  display: inline-block;
  height: 26px;
  padding: 4px 15px 0 15px;
  text-decoration: none;
}
/* line 137, sass/layout.scss */
.site-header .panel .login .l-login {
  background: #4c7f82;
  margin-right: -3px;
}
/* line 140, sass/layout.scss */
.site-header .panel .login .l-login:hover {
  background: #81a5a7;
}
/* line 144, sass/layout.scss */
.site-header .panel .login .l-registration {
  background: #f7941e;
}
/* line 146, sass/layout.scss */
.site-header .panel .login .l-registration:hover {
  background: #f9b461;
}
/* line 151, sass/layout.scss */
.site-header .panel .user {
  max-width: 260px;
  float: right;
  padding-top: 5px;
  margin: 0 10px 0 10px;
  position: relative;
}
/* line 157, sass/layout.scss */
.site-header .panel .user .user_wrap {
  position: relative;
  height: 30px;
}
/* line 161, sass/layout.scss */
.site-header .panel .user .user_name {
  display: block;
  max-width: 260px;
  overflow-x: hidden;
  text-decoration: none;
}
/* line 167, sass/layout.scss */
.site-header .panel .user .user_controls {
  display: block;
  position: absolute;
  top: 0;
  right: -16px;
}
/* line 172, sass/layout.scss */
.site-header .panel .user .user_controls .arrow {
  width: 23px;
  height: 22px;
  float: right;
  margin-right: -10px;
  background: url(../images/uc.png) no-repeat 3px 8px;
  cursor: pointer;
}
/* line 180, sass/layout.scss */
.site-header .panel .user .user_controls .logo_out {
  display: none;
}
/* line 184, sass/layout.scss */
.site-header .panel .user .user_controls:hover .logo_out {
  display: block;
  position: absolute;
  top: -5px;
  right: -76px;
  width: 44px;
  height: 25px;
  padding: 5px 15px 0 15px;
  font-size: 16px;
  background: #535353;
  color: #909090;
  text-decoration: none;
  text-align: center;
}
/* line 197, sass/layout.scss */
.site-header .panel .user .user_controls:hover .logo_out:hover {
  color: #808080;
}
/* line 205, sass/layout.scss */
.site-header .navigations {
  margin-top: 20px;
  position: relative;
}
/* line 209, sass/layout.scss */
.site-header .navigations .search input {
  width: 280px;
  padding: 0 10px;
  height: 28px;
  border: 1px solid #e0e0e0;
  position: relative;
}
/* line 216, sass/layout.scss */
.site-header .navigations .search input:last-child {
  width: auto;
  background: none;
  border: none;
  color: #e0e0e0;
  font-family: kp_icons;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: -3px;
}
/* line 228, sass/layout.scss */
.site-header .navigations .logo {
  float: left;
}
/* line 231, sass/layout.scss */
.site-header .navigations .search {
  float: right;
}
/* line 234, sass/layout.scss */
.site-header .navigations .direction-nav {
  border-bottom: 1px solid #404040;
  padding-bottom: 6px;
  margin: 30px 0 62px 0;
}
/* line 238, sass/layout.scss */
.site-header .navigations .direction-nav ul {
  overflow: hidden;
  width: 200%;
}
/* line 241, sass/layout.scss */
.site-header .navigations .direction-nav ul li {
  display: block;
  float: left;
}
/* line 244, sass/layout.scss */
.site-header .navigations .direction-nav ul li a {
  display: block;
  float: left;
  padding: 10px 10px;
  margin-right: 4px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: #404040;
}
/* line 254, sass/layout.scss */
.site-header .navigations .direction-nav ul li a:hover {
  border: 3px solid #edf2f2;
  padding: 7px 7px;
}
/* line 259, sass/layout.scss */
.site-header .navigations .direction-nav ul li:last-child {
  margin-right: 0;
}
/* line 263, sass/layout.scss */
.site-header .navigations .direction-nav ul li.current a {
  background: #4c7f82;
  color: #fff;
}
/* line 269, sass/layout.scss */
.site-header .navigations .direction-nav ul li.designers a {
  color: #f7941e;
}
/* line 273, sass/layout.scss */
.site-header .navigations .direction-nav ul li.designers:hover a {
  background: none;
  border: 3px solid #f7941e;
  padding: 7px 7px;
}
/* line 280, sass/layout.scss */
.site-header .navigations .direction-nav ul li.designers.current a {
  color: #fff;
  background: #f7941e;
}
/* line 287, sass/layout.scss */
.site-header .navigations .direction-nav ul li.publishers a {
  color: #4c7f82;
}
/* line 291, sass/layout.scss */
.site-header .navigations .direction-nav ul li.publishers:hover a {
  background: none;
  border: 3px solid #4c7f82;
  padding: 7px 7px;
}
/* line 298, sass/layout.scss */
.site-header .navigations .direction-nav ul li.publishers.current a {
  color: #fff;
  background: #4c7f82;
}
/* line 307, sass/layout.scss */
.site-header .navigations .sub-direction-nav {
  position: absolute;
  top: 130px;
}
/* line 315, sass/layout.scss */
.site-header .navigations .sub-direction-nav ul li {
  display: inline;
  margin-right: 24px;
}
/* line 318, sass/layout.scss */
.site-header .navigations .sub-direction-nav ul li a {
  font-size: 14px;
  font-style: italic;
  text-decoration: none;
}
/* line 322, sass/layout.scss */
.site-header .navigations .sub-direction-nav ul li a:hover {
  text-decoration: underline;
}
/* line 328, sass/layout.scss */
.site-header .navigations .sub-direction-nav ul .current a {
  font-weight: bold;
}

/* line 343, sass/layout.scss */
.site-footer {
  background: #808080;
  color: #fff;
  text-align: right;
  overflow: hidden;
  height: 50px;
  padding: 30px 0 30px 0;
  font-size: .9em;
}
/* line 352, sass/layout.scss */
.site-footer a {
  color: #fff;
}
/* line 355, sass/layout.scss */
.site-footer .foot-right {
  width: 378px;
  float: left;
}
/* line 358, sass/layout.scss */
.site-footer .foot-right a.social {
  width: 30px;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: -4px;
  margin-left: 9px;
}
/* line 364, sass/layout.scss */
.site-footer .foot-right a.social:first-child {
  margin-left: 0;
}
/* line 368, sass/layout.scss */
.site-footer .foot-right span {
  width: auto;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
}
/* line 372, sass/layout.scss */
.site-footer .foot-right .mail {
  margin: 0 10px;
}
/* line 376, sass/layout.scss */
.site-footer .devs {
  float: right;
  width: 250px;
  margin-right: -40px;
}
/* line 380, sass/layout.scss */
.site-footer .devs .dev_in {
  display: inline-block;
  vertical-align: top;
}
/* line 384, sass/layout.scss */
.site-footer .devs a {
  width: 80px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
/* line 389, sass/layout.scss */
.site-footer .devs a .name {
  display: inline-block;
  float: left;
  width: 70px;
  text-decoration: underline;
}
/* line 395, sass/layout.scss */
.site-footer .devs a .logo {
  display: none;
  width: 80px;
  height: 50px;
}
/* line 401, sass/layout.scss */
.site-footer .devs a:hover .name {
  display: none;
}
/* line 404, sass/layout.scss */
.site-footer .devs a:hover .logo {
  display: block;
}
/* line 406, sass/layout.scss */
.site-footer .devs a:hover .logo img {
  position: absolute;
  top: -16px;
  left: 10px;
}
/* line 415, sass/layout.scss */
.site-footer nav {
  width: 348px;
}
/* line 417, sass/layout.scss */
.site-footer nav ul {
  float: left;
}
/* line 419, sass/layout.scss */
.site-footer nav ul li {
  display: inline;
  margin-right: 20px;
}

/* line 427, sass/layout.scss */
.errorpage {
  text-align: center;
}
/* line 429, sass/layout.scss */
.errorpage h1 {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 25px;
}
