/* line 3, sass/shop.scss */
.catalogue {
  margin-bottom: 50px;
}
/* line 5, sass/shop.scss */
.catalogue .item {
  width: 230px;
  border: 1px solid #fff;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 30px 0 15px 0;
}
/* line 12, sass/shop.scss */
.catalogue .item .img_wrap {
  height: 180px;
}
/* line 14, sass/shop.scss */
.catalogue .item .img_wrap img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: auto;
  height: 100%;
}
/* line 22, sass/shop.scss */
.catalogue .item a {
  color: #404040;
  text-decoration: none;
}
/* line 26, sass/shop.scss */
.catalogue .item:hover {
  width: 230px;
  border: 1px solid #fbc98e;
}
/* line 30, sass/shop.scss */
.catalogue .item article {
  margin-top: 15px;
  padding: 0 30px 0 30px;
}
/* line 33, sass/shop.scss */
.catalogue .item article .price {
  display: block;
  float: left;
  font-size: 18px;
  font-weight: bold;
  color: #e66f50;
  margin-bottom: 18px;
}
/* line 41, sass/shop.scss */
.catalogue .item article .marker {
  margin-left: 20px;
  color: #fff;
  background: #c0c0c0;
  text-transform: uppercase;
  padding: 1px 3px;
}
/* line 48, sass/shop.scss */
.catalogue .item article h2 {
  font-size: 16px;
  font-weight: bold;
  clear: both;
}
/* line 53, sass/shop.scss */
.catalogue .item article p {
  font-size: 14px;
  font-style: italic;
}
/* line 58, sass/shop.scss */
.catalogue .item .add-to-cart {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 49px;
  padding: 8px 0 0 36px;
  font-family: kp_icons;
  font-size: 24px;
  color: #fff;
  background: url(../images/cart.png) right top no-repeat;
  z-index: 9999;
}
/* line 71, sass/shop.scss */
.catalogue .item .add-to-cart:hover {
  color: #e66f50;
}
/* line 76, sass/shop.scss */
.catalogue .item:hover .add-to-cart {
  display: block;
}
/* line 80, sass/shop.scss */
.catalogue header {
  overflow: hidden;
  border-top: 1px solid #7f7f7f;
  padding: 18px 0 18px 0;
}
/* line 84, sass/shop.scss */
.catalogue header h2 {
  float: left;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 90, sass/shop.scss */
.catalogue header a {
  float: right;
  font-weight: 300;
  color: #a0a0a0;
  text-decoration: none;
}
/* line 95, sass/shop.scss */
.catalogue header a:hover {
  text-decoration: underline;
}

/* line 102, sass/shop.scss */
.sorting {
  margin: 30px 0;
}
/* line 104, sass/shop.scss */
.sorting ul:first-child {
  border-left: none;
  margin-left: 0;
}
/* line 108, sass/shop.scss */
.sorting ul {
  display: inline-block;
  border-left: 1px solid #a0a0a0;
  padding-left: 24px;
}
/* line 112, sass/shop.scss */
.sorting ul li {
  display: inline;
  margin-right: 24px;
  color: #a0a0a0;
}
/* line 116, sass/shop.scss */
.sorting ul li a {
  color: red;
  text-decoration: none;
  border-bottom: 1px dashed #404040;
  color: #404040;
}
/* line 121, sass/shop.scss */
.sorting ul li a:hover {
  border-bottom: none;
}
/* line 124, sass/shop.scss */
.sorting ul li a:after {
  font-family: kp_icons;
  margin-left: 2px;
  font-weight: normal;
}
/* line 129, sass/shop.scss */
.sorting ul li a.up {
  font-weight: bold;
  border-bottom: none;
}
/* line 132, sass/shop.scss */
.sorting ul li a.up:after {
  content: '\32';
}
/* line 136, sass/shop.scss */
.sorting ul li a.down {
  font-weight: bold;
  border-bottom: none;
}
/* line 139, sass/shop.scss */
.sorting ul li a.down:after {
  content: '\31';
}

/* line 148, sass/shop.scss */
.pagination {
  margin-left: 30px;
}
/* line 151, sass/shop.scss */
.pagination ul li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-right: 8px;
}
/* line 156, sass/shop.scss */
.pagination ul li a {
  display: block;
  height: 30px;
  padding: 12px 14px 0 14px;
  font-size: 24px;
  text-decoration: none;
  color: #c0c0c0;
  background: #f8f8f8;
}
/* line 165, sass/shop.scss */
.pagination ul li a:hover {
  background: #f8f8f8;
  color: #f7941e;
}
/* line 170, sass/shop.scss */
.pagination ul li span {
  display: block;
  width: 42px;
  height: 30px;
  padding: 12px 14px 0 14px;
  font-size: 24px;
}
/* line 180, sass/shop.scss */
.pagination ul .current a {
  color: #000;
}
/* line 185, sass/shop.scss */
.pagination ul .arrow a {
  width: 50px;
  height: 36px;
  padding: 14px 0 0 0;
  background: #f0f0f0;
  font-family: kp_icons;
}
/* line 191, sass/shop.scss */
.pagination ul .arrow a:hover {
  background: #f0f0f0;
}

/* line 199, sass/shop.scss */
.tags {
  width: 810px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #99b6b7;
}
/* line 205, sass/shop.scss */
.tags ul li {
  display: inline;
  margin-left: 10px;
  line-height: 24px;
}
/* line 209, sass/shop.scss */
.tags ul li a {
  text-decoration: none;
}
/* line 211, sass/shop.scss */
.tags ul li a:hover {
  text-decoration: underline;
}

/* line 219, sass/shop.scss */
.product {
  margin-bottom: 45px;
}
/* line 221, sass/shop.scss */
.product figure {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 300px;
}
/* line 225, sass/shop.scss */
.product figure ul {
  margin-left: -17px;
}
/* line 227, sass/shop.scss */
.product figure ul li {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  margin-left: 17px;
}
/* line 232, sass/shop.scss */
.product figure img {
  border: 1px solid #e8e8e8;
  margin-bottom: 20px;
}
/* line 237, sass/shop.scss */
.product article {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 590px;
  margin-left: 46px;
}
/* line 241, sass/shop.scss */
.product article hgroup {
  margin-bottom: 34px;
}
/* line 243, sass/shop.scss */
.product article hgroup h4 {
  color: #c0c0c0;
  font-size: 12px;
}
/* line 247, sass/shop.scss */
.product article hgroup h1 {
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 40px;
}
/* line 252, sass/shop.scss */
.product article hgroup h2 {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  font-size: 21px;
  float: left;
}
/* line 258, sass/shop.scss */
.product article hgroup .marker {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  margin-left: 20px;
  color: #fff;
  background: #c0c0c0;
  text-transform: uppercase;
  padding: 1px 3px;
}
/* line 267, sass/shop.scss */
.product article hgroup .product-social {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  margin-left: 20px;
}
/* line 271, sass/shop.scss */
.product article hgroup .product-social li {
  display: inline;
  font-family: kp_icons;
  font-size: 15px;
  margin-right: 4px;
}
/* line 276, sass/shop.scss */
.product article hgroup .product-social li a {
  text-decoration: none;
}
/* line 281, sass/shop.scss */
.product article hgroup .product-social .icon-vk a {
  color: #285278;
}
/* line 286, sass/shop.scss */
.product article hgroup .product-social .icon-facebook a {
  color: #3c5e96;
}
/* line 291, sass/shop.scss */
.product article hgroup .product-social .icon-twitter a {
  color: #52afde;
}
/* line 297, sass/shop.scss */
.product article .cartline {
  margin-bottom: 36px;
}
/* line 299, sass/shop.scss */
.product article .cartline .single_cart {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  width: auto;
  background: #e66f50;
  position: static;
  padding: 10px 18px 10px 12px;
}
/* line 306, sass/shop.scss */
.product article .cartline .single_cart span {
  color: #fff;
  border-right: 2px solid #eb8c73;
  padding-right: 12px;
  font-weight: bold;
  font-size: 18px;
}
/* line 313, sass/shop.scss */
.product article .cartline .single_cart span.no_bord {
  border-right: none;
  padding-right: 0;
  padding-left: 12px;
}
/* line 319, sass/shop.scss */
.product article .cartline .single_cart form {
  display: inline-block;
}
/* line 322, sass/shop.scss */
.product article .cartline .single_cart a {
  margin-left: 12px;
  font-family: kp_icons;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}
/* line 330, sass/shop.scss */
.product article .cartline .stock {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  width: auto;
  margin-left: 20px;
  font-size: 12px;
  color: #e66f50;
}
/* line 338, sass/shop.scss */
.product article .cartline .payment {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  width: auto;
  margin-left: 20px;
  font-size: 12px;
  color: #c0c0c0;
}
/* line 348, sass/shop.scss */
.product aside {
  width: 590px;
  margin-left: 350px;
}
/* line 352, sass/shop.scss */
.product aside .specs {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 230px;
  padding: 20px;
  background: #f8f8f8;
}
/* line 357, sass/shop.scss */
.product aside .specs h3 {
  font-size: 16px;
  font-weight: bold;
  color: #808080;
  margin-bottom: 20px;
}
/* line 364, sass/shop.scss */
.product aside .product-tags {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 240px;
  padding: 20px;
}

/* line 372, sass/shop.scss */
.search-result {
  margin-top: 40px;
  padding-left: 20px;
}
/* line 375, sass/shop.scss */
.search-result h1 {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  font-size: 21px;
}
/* line 379, sass/shop.scss */
.search-result h1 span {
  font-weight: 700;
}
/* line 383, sass/shop.scss */
.search-result a {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  margin-left: 20px;
}
