/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p327@knigipodarki/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p327@knigipodarki/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p327@knigipodarki/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p327@knigipodarki/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p327@knigipodarki/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p327@knigipodarki/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p327@knigipodarki/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p327@knigipodarki/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p327@knigipodarki/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'kp_icons';
  src: url("../fonts/kp_icons.eot");
  src: url("../fonts/kp_icons.eot?#iefix") format("embedded-opentype"), url("../fonts/kp_icons.woff") format("woff"), url("../fonts/kp_icons.ttf") format("truetype"), url("../fonts/kp_icons.svg#kp_icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubl Sign";
  src: url("../fonts/rouble.ttf") format("truetype"), url("../fonts/rouble.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubl Sign";
  src: url("../fonts/ruble.eot");
}

/* line 20, sass/layout.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 24, sass/layout.scss */
body {
  font: 14px/20px Ubuntu;
  background: url(../images/back.png);
  color: #404040;
}

/* line 30, sass/layout.scss */
a {
  text-decoration: underline;
  color: #4c7f82;
}
/* line 33, sass/layout.scss */
a:hover {
  text-decoration: none;
}

/* line 38, sass/layout.scss */
p {
  margin-bottom: 1em;
}

/* line 42, sass/layout.scss */
input[type="text"]:focus {
  outline: none;
}

/* line 43, sass/layout.scss */
.text-placeholder {
  color: #aba9ab !important;
}

/* line 45, sass/layout.scss */
input[type="text"]:-webkit-autofill {
  background-color: none !important;
  background-image: none !important;
}

/* line 49, sass/layout.scss */
.cl {
  clear: both;
  font-size: 0px;
}

/* line 54, sass/layout.scss */
.sp_show {
  display: none;
}

/* line 58, sass/layout.scss */
span.rouble {
  font-family: "Rubl Sign" !important;
  text-transform: uppercase;
  \/\/text-transform: none;
}

/* line 59, sass/layout.scss */
span.rouble span {
  position: absolute;
  overflow: hidden;
  width: .45em;
  height: 1em;
  margin: 0.17em 0 0 -0.65em;
  \/\/display: none;
}

/* line 60, sass/layout.scss */
span.rouble span:before {
  content: '\2013';
}

/* line 62, sass/layout.scss */
span.rouble span {
  margin: 0.105em 0 0 -0.65em \0/IE89;
  /* IE8 + 9 + IE10pp4  */
}

/* line 66, sass/layout.scss */
.wrap {
  width: 940px;
  margin: 0 auto;
}

/* line 71, sass/layout.scss */
.wrap-row {
  overflow: hidden;
}

/* line 75, sass/layout.scss */
.white-wrap {
  width: 1100px;
  margin: 0 auto;
  background: #fff;
  padding: 20px 0 60px 0;
}

/* line 84, sass/layout.scss */
.site-header .panel {
  background: #404040;
  height: 30px;
  color: #fff;
  text-align: right;
}
/* line 89, sass/layout.scss */
.site-header .panel a {
  color: #fff;
}
/* line 92, sass/layout.scss */
.site-header .panel nav {
  float: left;
}
/* line 95, sass/layout.scss */
.site-header .panel nav ul li {
  display: inline-block;
  height: 24px;
  padding-top: 6px;
  font-size: 14px;
  letter-spacing: 1px;
  vertical-align: text-bottom;
  text-transform: uppercase;
  margin-right: 26px;
}
/* line 104, sass/layout.scss */
.site-header .panel nav ul li a {
  text-decoration: none;
}
/* line 106, sass/layout.scss */
.site-header .panel nav ul li a:hover {
  color: #c0c0c0;
}
/* line 110, sass/layout.scss */
.site-header .panel nav ul li a.current {
  color: #c0c0c0;
}
/* line 116, sass/layout.scss */
.site-header .panel .phone {
  float: right;
  width: right;
  height: 25px;
  padding: 5px 15px 0 15px;
  font-size: 18px;
  background: #535353;
}
/* line 124, sass/layout.scss */
.site-header .panel .login {
  width: auto;
  float: right;
  height: 30px;
  background: gray;
  font-weight: bold;
}
/* line 131, sass/layout.scss */
.site-header .panel .login a {
  display: inline-block;
  height: 26px;
  padding: 4px 15px 0 15px;
  text-decoration: none;
}
/* line 137, sass/layout.scss */
.site-header .panel .login .l-login {
  background: #4c7f82;
  margin-right: -3px;
}
/* line 140, sass/layout.scss */
.site-header .panel .login .l-login:hover {
  background: #81a5a7;
}
/* line 144, sass/layout.scss */
.site-header .panel .login .l-registration {
  background: #f7941e;
}
/* line 146, sass/layout.scss */
.site-header .panel .login .l-registration:hover {
  background: #f9b461;
}
/* line 151, sass/layout.scss */
.site-header .panel .user {
  max-width: 260px;
  float: right;
  padding-top: 5px;
  margin: 0 10px 0 10px;
  position: relative;
}
/* line 157, sass/layout.scss */
.site-header .panel .user .user_wrap {
  position: relative;
  height: 30px;
}
/* line 161, sass/layout.scss */
.site-header .panel .user .user_name {
  display: block;
  max-width: 260px;
  overflow-x: hidden;
  text-decoration: none;
}
/* line 167, sass/layout.scss */
.site-header .panel .user .user_controls {
  display: block;
  position: absolute;
  top: 0;
  right: -16px;
}
/* line 172, sass/layout.scss */
.site-header .panel .user .user_controls .arrow {
  width: 23px;
  height: 22px;
  float: right;
  margin-right: -10px;
  background: url(../images/uc.png) no-repeat 3px 8px;
  cursor: pointer;
}
/* line 180, sass/layout.scss */
.site-header .panel .user .user_controls .logo_out {
  display: none;
}
/* line 184, sass/layout.scss */
.site-header .panel .user .user_controls:hover .logo_out {
  display: block;
  position: absolute;
  top: -5px;
  right: -76px;
  width: 44px;
  height: 25px;
  padding: 5px 15px 0 15px;
  font-size: 16px;
  background: #535353;
  color: #909090;
  text-decoration: none;
  text-align: center;
}
/* line 197, sass/layout.scss */
.site-header .panel .user .user_controls:hover .logo_out:hover {
  color: #808080;
}
/* line 205, sass/layout.scss */
.site-header .navigations {
  margin-top: 20px;
  position: relative;
}
/* line 209, sass/layout.scss */
.site-header .navigations .search input {
  width: 280px;
  padding: 0 10px;
  height: 28px;
  border: 1px solid #e0e0e0;
  position: relative;
}
/* line 216, sass/layout.scss */
.site-header .navigations .search input:last-child {
  width: auto;
  background: none;
  border: none;
  color: #e0e0e0;
  font-family: kp_icons;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: -3px;
}
/* line 228, sass/layout.scss */
.site-header .navigations .logo {
  float: left;
}
/* line 231, sass/layout.scss */
.site-header .navigations .search {
  float: right;
}
/* line 234, sass/layout.scss */
.site-header .navigations .direction-nav {
  border-bottom: 1px solid #404040;
  padding-bottom: 6px;
  margin: 30px 0 62px 0;
}
/* line 238, sass/layout.scss */
.site-header .navigations .direction-nav ul {
  overflow: hidden;
  width: 115%;
}
/* line 241, sass/layout.scss */
.site-header .navigations .direction-nav ul li {
  display: block;
  float: left;
}
/* line 244, sass/layout.scss */
.site-header .navigations .direction-nav ul li a {
  display: block;
  float: left;
  padding: 10px 10px;
  margin-right: 4px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: #404040;
}
/* line 254, sass/layout.scss */
.site-header .navigations .direction-nav ul li a:hover {
  border: 3px solid #edf2f2;
  padding: 7px 7px;
}
/* line 259, sass/layout.scss */
.site-header .navigations .direction-nav ul li:last-child {
  margin-right: 0;
}
/* line 263, sass/layout.scss */
.site-header .navigations .direction-nav ul li.current a {
  background: #4c7f82;
  color: #fff;
}
/* line 269, sass/layout.scss */
.site-header .navigations .direction-nav ul li.designers a {
  color: #f7941e;
}
/* line 273, sass/layout.scss */
.site-header .navigations .direction-nav ul li.designers:hover a {
  background: none;
  border: 3px solid #f7941e;
  padding: 7px 7px;
}
/* line 280, sass/layout.scss */
.site-header .navigations .direction-nav ul li.designers.current a {
  color: #fff;
  background: #f7941e;
}
/* line 287, sass/layout.scss */
.site-header .navigations .direction-nav ul li.publishers a {
  color: #4c7f82;
}
/* line 291, sass/layout.scss */
.site-header .navigations .direction-nav ul li.publishers:hover a {
  background: none;
  border: 3px solid #4c7f82;
  padding: 7px 7px;
}
/* line 298, sass/layout.scss */
.site-header .navigations .direction-nav ul li.publishers.current a {
  color: #fff;
  background: #4c7f82;
}
/* line 307, sass/layout.scss */
.site-header .navigations .sub-direction-nav {
  position: absolute;
  top: 130px;
}
/* line 315, sass/layout.scss */
.site-header .navigations .sub-direction-nav ul li {
  display: inline;
  margin-right: 24px;
}
/* line 318, sass/layout.scss */
.site-header .navigations .sub-direction-nav ul li a {
  font-size: 14px;
  font-style: italic;
  text-decoration: none;
}
/* line 322, sass/layout.scss */
.site-header .navigations .sub-direction-nav ul li a:hover {
  text-decoration: underline;
}
/* line 328, sass/layout.scss */
.site-header .navigations .sub-direction-nav ul .current a {
  font-weight: bold;
}

/* line 343, sass/layout.scss */
.site-footer {
  background: #808080;
  color: #fff;
  text-align: right;
  overflow: hidden;
  height: 50px;
  padding: 30px 0 30px 0;
  font-size: .9em;
}
/* line 352, sass/layout.scss */
.site-footer a {
  color: #fff;
}
/* line 355, sass/layout.scss */
.site-footer .foot-right {
  width: 430px;
  float: left;
}
/* line 358, sass/layout.scss */
.site-footer .foot-right a.social {
  width: 30px;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: -4px;
  margin-left: 9px;
}
/* line 364, sass/layout.scss */
.site-footer .foot-right a.social:first-child {
  margin-left: 0;
}
/* line 368, sass/layout.scss */
.site-footer .foot-right span {
  width: auto;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
}
/* line 372, sass/layout.scss */
.site-footer .foot-right .mail {
  margin: 0 10px;
}
/* line 376, sass/layout.scss */
.site-footer .devs {
  float: right;
  width: 200px;
  margin-right: -40px;
}
/* line 380, sass/layout.scss */
.site-footer .devs .dev_in {
  display: inline-block;
  vertical-align: top;
}
/* line 384, sass/layout.scss */
.site-footer .devs a {
  width: 80px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
/* line 389, sass/layout.scss */
.site-footer .devs a .name {
  display: inline-block;
  float: left;
  width: 70px;
  text-decoration: underline;
}
/* line 395, sass/layout.scss */
.site-footer .devs a .logo {
  display: none;
  width: 80px;
  height: 50px;
}
/* line 401, sass/layout.scss */
.site-footer .devs a:hover .name {
  display: none;
}
/* line 404, sass/layout.scss */
.site-footer .devs a:hover .logo {
  display: block;
}
/* line 406, sass/layout.scss */
.site-footer .devs a:hover .logo img {
  position: absolute;
  top: -16px;
  left: 10px;
}
/* line 415, sass/layout.scss */
.site-footer nav {
  width: 348px;
}
/* line 417, sass/layout.scss */
.site-footer nav ul {
  float: left;
}
/* line 419, sass/layout.scss */
.site-footer nav ul li {
  display: inline;
  margin-right: 20px;
}

/* line 427, sass/layout.scss */
.errorpage {
  text-align: center;
}
/* line 429, sass/layout.scss */
.errorpage h1 {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 25px;
}

/* line 3, sass/index.scss */
.promo {
  margin-bottom: 80px;
  position: relative;
}
/* line 6, sass/index.scss */
.promo .baners {
  border: 1px solid #f7941e;
  padding: 20px 0 20px 50px;
  height: 298px;
}
/* line 10, sass/index.scss */
.promo .baners .item {
  width: 820px;
  margin: 0 auto;
  z-index: 1000;
}
/* line 14, sass/index.scss */
.promo .baners .item .cart_img {
  text-decoration: none;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 278px;
  text-align: center;
}
/* line 19, sass/index.scss */
.promo .baners .item .cart_img img {
  max-width: 100%;
  max-height: 100%;
}
/* line 24, sass/index.scss */
.promo .baners .item article {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 502px;
  padding: 26px 0 0 36px;
}
/* line 28, sass/index.scss */
.promo .baners .item article hgroup {
  margin: 0 0 16px 0;
}
/* line 30, sass/index.scss */
.promo .baners .item article hgroup h2 {
  font-size: 48px;
  margin: 0 0 20px 0;
}
/* line 33, sass/index.scss */
.promo .baners .item article hgroup h2 a {
  color: #404040;
  text-decoration: none;
}
/* line 38, sass/index.scss */
.promo .baners .item article hgroup h3 {
  font-size: 21px;
}
/* line 42, sass/index.scss */
.promo .baners .item article .price {
  display: block;
  color: #4c7f82;
  font-weight: bold;
  font-size: 21px;
  margin-top: 22px;
}
/* line 52, sass/index.scss */
.promo .baners-nav {
  width: 540px;
  position: absolute;
  top: 300px;
  right: 0;
  z-index: 100;
}
/* line 58, sass/index.scss */
.promo .baners-nav li {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
/* line 62, sass/index.scss */
.promo .baners-nav li.current a {
  color: #f7941e;
  background: #f7941e;
}
/* line 67, sass/index.scss */
.promo .baners-nav li:first-child {
  margin-left: 0;
}
/* line 70, sass/index.scss */
.promo .baners-nav li a {
  display: block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 1px solid #f7941e;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
}
/* line 79, sass/index.scss */
.promo .baners-nav li a:hover {
  background: #f7941e;
  color: #f7941e;
}
/* line 86, sass/index.scss */
.promo .baners-nav-ctl {
  height: 50px;
  padding-top: 30px;
  font-family: kp_icons;
  font-size: 26px;
  text-decoration: none;
  color: #f7941e;
}
/* line 94, sass/index.scss */
.promo .baners-nav-left {
  position: absolute;
  top: 138px;
  padding-left: 12px;
  left: 0;
}
/* line 99, sass/index.scss */
.promo .baners-nav-left:hover {
  padding-left: 7px;
  border-left: 5px solid #f7941e;
}
/* line 104, sass/index.scss */
.promo .baners-nav-right {
  position: absolute;
  top: 138px;
  padding-right: 12px;
  right: 0;
}
/* line 109, sass/index.scss */
.promo .baners-nav-right:hover {
  padding-right: 7px;
  border-right: 5px solid #f7941e;
}

/* line 4, sass/shop.scss */
.catalogue {
  margin-bottom: 50px;
}
/* line 6, sass/shop.scss */
.catalogue .item {
  width: 235px;
  border: 1px solid white;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 30px 0 15px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 14, sass/shop.scss */
.catalogue .item .img_wrap {
  height: 180px;
}
/* line 16, sass/shop.scss */
.catalogue .item .img_wrap img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: auto;
  height: 100%;
}
/* line 24, sass/shop.scss */
.catalogue .item a {
  color: #404040;
  text-decoration: none;
}
/* line 28, sass/shop.scss */
.catalogue .item:hover {
  border: 1px solid #fbc98e;
}
/* line 31, sass/shop.scss */
.catalogue .item article {
  margin-top: 15px;
  padding: 0 30px 0 30px;
}
/* line 34, sass/shop.scss */
.catalogue .item article .price {
  display: block;
  float: left;
  font-size: 18px;
  font-weight: bold;
  color: #e66f50;
  margin-bottom: 18px;
}
/* line 41, sass/shop.scss */
.catalogue .item article .price.ops {
  opacity: .7;
  text-decoration: line-through;
}
/* line 45, sass/shop.scss */
.catalogue .item article .price.sale {
  margin-left: 10px;
}
/* line 49, sass/shop.scss */
.catalogue .item article .marker {
  margin-left: 20px;
  color: #fff;
  background: #c0c0c0;
  text-transform: uppercase;
  padding: 1px 3px;
}
/* line 56, sass/shop.scss */
.catalogue .item article h2 {
  font-size: 16px;
  font-weight: bold;
  clear: both;
}
/* line 61, sass/shop.scss */
.catalogue .item article p {
  font-size: 14px;
  font-style: italic;
}
/* line 66, sass/shop.scss */
.catalogue .item .add-to-cart {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 49px;
  padding: 8px 0 0 36px;
  font-family: kp_icons;
  font-size: 24px;
  color: #fff;
  background: url(../images/cart.png) right top no-repeat;
  z-index: 100;
}
/* line 79, sass/shop.scss */
.catalogue .item .add-to-cart:hover {
  color: #e66f50;
}
/* line 84, sass/shop.scss */
.catalogue .item:hover .add-to-cart {
  display: block;
}
/* line 88, sass/shop.scss */
.catalogue header {
  overflow: hidden;
  border-top: 1px solid #7f7f7f;
  padding: 18px 0 18px 0;
}
/* line 92, sass/shop.scss */
.catalogue header h2 {
  float: left;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 98, sass/shop.scss */
.catalogue header a {
  float: right;
  font-weight: 300;
  color: #a0a0a0;
  text-decoration: none;
}
/* line 103, sass/shop.scss */
.catalogue header a:hover {
  text-decoration: underline;
}

/* line 110, sass/shop.scss */
.sorting {
  margin: 30px 0;
}
/* line 112, sass/shop.scss */
.sorting ul:first-child {
  border-left: none;
  margin-left: 0;
}
/* line 116, sass/shop.scss */
.sorting ul {
  display: inline-block;
  border-left: 1px solid #a0a0a0;
  padding-left: 24px;
}
/* line 120, sass/shop.scss */
.sorting ul li {
  display: inline;
  margin-right: 24px;
  color: #a0a0a0;
}
/* line 124, sass/shop.scss */
.sorting ul li a {
  color: red;
  text-decoration: none;
  border-bottom: 1px dashed #404040;
  color: #404040;
}
/* line 129, sass/shop.scss */
.sorting ul li a:hover {
  border-bottom: none;
}
/* line 132, sass/shop.scss */
.sorting ul li a:after {
  font-family: kp_icons;
  margin-left: 2px;
  font-weight: normal;
}
/* line 137, sass/shop.scss */
.sorting ul li a.up {
  font-weight: bold;
  border-bottom: none;
}
/* line 140, sass/shop.scss */
.sorting ul li a.up:after {
  content: '\32';
}
/* line 144, sass/shop.scss */
.sorting ul li a.down {
  font-weight: bold;
  border-bottom: none;
}
/* line 147, sass/shop.scss */
.sorting ul li a.down:after {
  content: '\31';
}

/* line 156, sass/shop.scss */
.pagination {
  margin-left: 30px;
}
/* line 159, sass/shop.scss */
.pagination ul li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-right: 8px;
}
/* line 164, sass/shop.scss */
.pagination ul li a {
  display: block;
  height: 30px;
  padding: 12px 14px 0 14px;
  font-size: 24px;
  text-decoration: none;
  color: #c0c0c0;
  background: #f8f8f8;
}
/* line 173, sass/shop.scss */
.pagination ul li a:hover {
  background: #f8f8f8;
  color: #f7941e;
}
/* line 178, sass/shop.scss */
.pagination ul li span {
  display: block;
  width: 42px;
  height: 30px;
  padding: 12px 14px 0 14px;
  font-size: 24px;
}
/* line 188, sass/shop.scss */
.pagination ul .current a {
  color: #000;
}
/* line 193, sass/shop.scss */
.pagination ul .arrow a {
  width: 50px;
  height: 36px;
  padding: 14px 0 0 0;
  background: #f0f0f0;
  font-family: kp_icons;
}
/* line 199, sass/shop.scss */
.pagination ul .arrow a:hover {
  background: #f0f0f0;
}

/* line 207, sass/shop.scss */
.tags {
  width: 810px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #99b6b7;
}
/* line 213, sass/shop.scss */
.tags ul li {
  display: inline;
  margin-left: 10px;
  line-height: 24px;
}
/* line 217, sass/shop.scss */
.tags ul li a {
  text-decoration: none;
}
/* line 219, sass/shop.scss */
.tags ul li a:hover {
  text-decoration: underline;
}

/* line 227, sass/shop.scss */
.product {
  margin-bottom: 45px;
}
/* line 229, sass/shop.scss */
.product figure {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 300px;
}
/* line 233, sass/shop.scss */
.product figure ul {
  margin-left: -17px;
}
/* line 235, sass/shop.scss */
.product figure ul li {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  margin-left: 17px;
}
/* line 240, sass/shop.scss */
.product figure img {
  border: 1px solid #e8e8e8;
  margin-bottom: 20px;
}
/* line 245, sass/shop.scss */
.product article {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 590px;
  margin-left: 46px;
}
/* line 249, sass/shop.scss */
.product article hgroup {
  margin-bottom: 34px;
}
/* line 251, sass/shop.scss */
.product article hgroup h4 {
  color: #c0c0c0;
  font-size: 12px;
}
/* line 255, sass/shop.scss */
.product article hgroup h1 {
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 40px;
}
/* line 260, sass/shop.scss */
.product article hgroup h2 {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  font-size: 21px;
  float: left;
}
/* line 266, sass/shop.scss */
.product article hgroup .marker {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  margin-left: 20px;
  color: #fff;
  background: #c0c0c0;
  text-transform: uppercase;
  padding: 1px 3px;
}
/* line 275, sass/shop.scss */
.product article hgroup .product-social {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  margin-left: 20px;
}
/* line 279, sass/shop.scss */
.product article hgroup .product-social li {
  display: inline;
  font-family: kp_icons;
  font-size: 15px;
  margin-right: 4px;
}
/* line 284, sass/shop.scss */
.product article hgroup .product-social li a {
  text-decoration: none;
}
/* line 289, sass/shop.scss */
.product article hgroup .product-social .icon-vk a {
  color: #285278;
}
/* line 294, sass/shop.scss */
.product article hgroup .product-social .icon-facebook a {
  color: #3c5e96;
}
/* line 299, sass/shop.scss */
.product article hgroup .product-social .icon-twitter a {
  color: #52afde;
}
/* line 305, sass/shop.scss */
.product article .cartline {
  margin-bottom: 36px;
}
/* line 307, sass/shop.scss */
.product article .cartline .single_cart {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  width: auto;
  background: #e66f50;
  position: static;
  padding: 10px 18px 10px 12px;
}
/* line 314, sass/shop.scss */
.product article .cartline .single_cart span {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
/* line 319, sass/shop.scss */
.product article .cartline .single_cart span.ops {
  opacity: .7;
  text-decoration: line-through;
  border-right: 2px solid #eb8c73;
  padding-right: 12px;
}
/* line 325, sass/shop.scss */
.product article .cartline .single_cart span.no_bord {
  border-right: none;
  padding-right: 0;
  padding-left: 12px;
}
/* line 331, sass/shop.scss */
.product article .cartline .single_cart form {
  display: inline-block;
}
/* line 334, sass/shop.scss */
.product article .cartline .single_cart a {
  margin-left: 12px;
  font-family: kp_icons;
  text-decoration: none;
  border-left: 2px solid #eb8c73;
  padding-left: 12px;
  color: #fff;
  font-size: 22px;
}
/* line 344, sass/shop.scss */
.product article .cartline .stock {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  width: auto;
  margin-left: 20px;
  font-size: 12px;
  color: #e66f50;
}
/* line 352, sass/shop.scss */
.product article .cartline .payment {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  width: auto;
  margin-left: 20px;
  font-size: 12px;
  color: #c0c0c0;
}
/* line 362, sass/shop.scss */
.product aside {
  width: 590px;
  margin-left: 350px;
}
/* line 366, sass/shop.scss */
.product aside .specs {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 230px;
  padding: 20px;
  background: #f8f8f8;
}
/* line 371, sass/shop.scss */
.product aside .specs h3 {
  font-size: 16px;
  font-weight: bold;
  color: #808080;
  margin-bottom: 20px;
}
/* line 378, sass/shop.scss */
.product aside .product-tags {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 240px;
  padding: 20px;
}
/* line 382, sass/shop.scss */
.product aside .product-tags a {
  font-weight: bold;
}

/* line 389, sass/shop.scss */
.search-result {
  margin-top: 40px;
  padding-left: 20px;
}
/* line 392, sass/shop.scss */
.search-result h1 {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  font-size: 21px;
}
/* line 396, sass/shop.scss */
.search-result h1 span {
  font-weight: 700;
}
/* line 400, sass/shop.scss */
.search-result a {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  margin-left: 20px;
}

/* line 3, sass/about.scss */
.about {
  margin-bottom: 45px;
  padding-bottom: 60px;
  overflow: hidden;
}
/* line 7, sass/about.scss */
.about article {
  width: 440px;
  float: left;
}
/* line 10, sass/about.scss */
.about article:last-child {
  float: right;
}
/* line 13, sass/about.scss */
.about article img {
  margin-bottom: 15px;
  margin-top: 40px;
}
/* line 16, sass/about.scss */
.about article img:first-child {
  margin-top: 0;
}
/* line 20, sass/about.scss */
.about article h2 {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 25px;
}
/* line 25, sass/about.scss */
.about article h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 14px;
}
/* line 31, sass/about.scss */
.about h1 {
  clear: both;
  margin-bottom: 45px;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
}
/* line 39, sass/about.scss */
.about:first-child {
  margin-top: 48px;
}

/* line 4, sass/brands.scss */
.brand img {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
}
/* line 7, sass/brands.scss */
.brand article {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 590px;
  margin-left: 46px;
}
/* line 11, sass/brands.scss */
.brand article hgroup {
  margin-bottom: 25px;
}
/* line 13, sass/brands.scss */
.brand article hgroup h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
/* line 18, sass/brands.scss */
.brand article hgroup h2 {
  font-size: 21px;
}

/* line 26, sass/brands.scss */
.brands article {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 270px;
  margin: 0 40px 45px 0;
}
/* line 30, sass/brands.scss */
.brands article a {
  color: #404040;
  text-decoration: none;
}
/* line 33, sass/brands.scss */
.brands article a:hover {
  text-decoration: underline;
}
/* line 37, sass/brands.scss */
.brands article h2 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 44, sass/brands.scss */
.brands article ul li {
  font-style: italic;
  margin-bottom: 10px;
}

/* line 4, sass/account.scss */
.account header {
  margin: 40px 0;
}
/* line 6, sass/account.scss */
.account header h1 {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  float: left;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 14, sass/account.scss */
.account header span {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  margin-left: 75px;
}
/* line 19, sass/account.scss */
.account header a {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  margin-left: 10px;
}
/* line 24, sass/account.scss */
.account header .breadcrumps {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: bottom;
  margin-left: 20px;
}
/* line 28, sass/account.scss */
.account header .breadcrumps li {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: bottom;
}
/* line 31, sass/account.scss */
.account header .breadcrumps li.step {
  color: #c0c0c0;
}
/* line 34, sass/account.scss */
.account header .breadcrumps li.current {
  color: #404040;
}

/* line 42, sass/account.scss */
.orders {
  margin: 40px 0;
}
/* line 44, sass/account.scss */
.orders h3 {
  font-size: 21px;
  margin-bottom: 45px;
}
/* line 48, sass/account.scss */
.orders table {
  width: 100%;
}
/* line 52, sass/account.scss */
.orders table tbody tr:nth-child(2n+2) {
  background: #f8f8f8;
}
/* line 55, sass/account.scss */
.orders table tbody tr td {
  width: 16%;
  padding: 5px 10px;
}
/* line 59, sass/account.scss */
.orders table tbody tr th {
  font-weight: bold;
  padding: 5px 10px;
}

/* line 69, sass/account.scss */
.addresses header {
  margin-bottom: 25px;
}
/* line 71, sass/account.scss */
.addresses header h3 {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  font-size: 21px;
}
/* line 76, sass/account.scss */
.addresses header a {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  margin-left: 25px;
}
/* line 82, sass/account.scss */
.addresses .adress {
  background: #f8f8f8;
  padding: 20px;
}
/* line 85, sass/account.scss */
.addresses .adress .desc {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  width: 620px;
}
/* line 90, sass/account.scss */
.addresses .adress .controls {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  width: 220px;
  margin-left: 50px;
}
/* line 95, sass/account.scss */
.addresses .adress .controls a {
  margin-right: 20px;
}

/* line 102, sass/account.scss */
.order {
  margin: 30px 0;
}
/* line 104, sass/account.scss */
.order h3 {
  font-size: 21px;
  margin-bottom: 25px;
}
/* line 108, sass/account.scss */
.order table {
  width: 100%;
}
/* line 112, sass/account.scss */
.order table.fourcol tr th, .order table.fourcol tr td {
  width: 25%;
}
/* line 118, sass/account.scss */
.order table tr th {
  background: #f8f8f8;
  width: 20%;
  padding: 5px 10px;
  font-weight: bold;
}
/* line 123, sass/account.scss */
.order table tr th:last-child {
  width: 20%;
}
/* line 127, sass/account.scss */
.order table tr td {
  width: 20%;
  padding: 5px 10px;
}
/* line 130, sass/account.scss */
.order table tr td:last-child {
  width: 20%;
}

/* line 5, sass/forms.scss */
.forms .formset .fields {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 282px;
  margin-right: 38px;
}
/* line 9, sass/forms.scss */
.forms .formset .fields fieldset {
  height: 80px;
}
/* line 11, sass/forms.scss */
.forms .formset .fields fieldset label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 16, sass/forms.scss */
.forms .formset .fields fieldset input {
  width: 276px;
  height: 28px;
  padding: 0 10px;
}
/* line 21, sass/forms.scss */
.forms .formset .fields fieldset select {
  width: 298px;
  height: 28px;
  padding: 0 0 0 10px;
}
/* line 29, sass/forms.scss */
.forms .controls {
  text-align: right;
  padding-top: 18px;
  margin-bottom: 20px;
}
/* line 33, sass/forms.scss */
.forms .controls input {
  border: none;
  height: 30px;
  padding: 0 10px;
  background: #e66f50;
  color: #fff;
  margin-left: 20px;
}
/* line 42, sass/forms.scss */
.forms .top-decor {
  border-top: 1px solid silver;
}
/* line 45, sass/forms.scss */
.forms .controls-big {
  width: 622px;
}
/* line 48, sass/forms.scss */
.forms .controls-small {
  width: 300px;
}
/* line 52, sass/forms.scss */
.forms .forms-info article {
  padding: 10px 20px;
  border: 6px solid #e66f50;
  border-left: 20px solid #e66f50;
  background: #f8f8f8;
  margin-top: 20px;
}
/* line 60, sass/forms.scss */
.forms .info-big {
  width: 622px;
  margin-bottom: 20px;
}

/* line 3, sass/checkout.scss */
.checkout {
  position: relative;
}
/* line 5, sass/checkout.scss */
.checkout header {
  margin-bottom: 45px;
}
/* line 7, sass/checkout.scss */
.checkout header h3 {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  font-size: 21px;
}
/* line 12, sass/checkout.scss */
.checkout header a {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
  margin-left: 25px;
}
/* line 18, sass/checkout.scss */
.checkout .summary {
  position: absolute;
  top: 40px;
  right: 0;
  width: 230px;
  padding: 20px;
  background: #f8f8f8;
}
/* line 25, sass/checkout.scss */
.checkout .summary h3 {
  font-size: 16px;
  font-weight: bold;
  color: #808080;
}
/* line 30, sass/checkout.scss */
.checkout .summary .item {
  overflow: hidden;
  color: #202020;
}
/* line 33, sass/checkout.scss */
.checkout .summary .item .name {
  float: left;
}
/* line 36, sass/checkout.scss */
.checkout .summary .item .price {
  float: right;
  font-weight: bold;
}
/* line 40, sass/checkout.scss */
.checkout .summary .item.all {
  font-size: 18px;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid silver;
}

/* line 50, sass/checkout.scss */
.auth {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 280px;
  margin-right: 100px;
}
/* line 54, sass/checkout.scss */
.auth h3 {
  font-size: 21px;
  margin-bottom: 40px;
}
/* line 58, sass/checkout.scss */
.auth fieldset {
  margin-bottom: 20px;
}
/* line 60, sass/checkout.scss */
.auth fieldset label {
  display: block;
  margin-bottom: 10px;
}
/* line 64, sass/checkout.scss */
.auth fieldset input {
  width: 260px;
  padding: 0 10px;
  height: 28px;
}
/* line 69, sass/checkout.scss */
.auth fieldset .remember {
  overflow: hidden;
  margin-top: 10px;
}
/* line 72, sass/checkout.scss */
.auth fieldset .remember label {
  float: left;
}
/* line 74, sass/checkout.scss */
.auth fieldset .remember label input {
  width: auto;
}
/* line 75, sass/checkout.scss */
.auth fieldset .remember label input.remember_check {
  width: auto;
  height: auto;
}
/* line 82, sass/checkout.scss */
.auth fieldset .remember a {
  float: right;
  display: block;
  margin-top: 1px;
}
/* line 89, sass/checkout.scss */
.auth .controls {
  overflow: hidden;
  margin-top: -20px;
}
/* line 92, sass/checkout.scss */
.auth .controls input {
  float: left;
  margin-left: 0;
  font-weight: bold;
  padding: 0 20px;
}
/* line 97, sass/checkout.scss */
.auth .controls input.blue {
  background: #4c7f82;
}
/* line 101, sass/checkout.scss */
.auth .controls a {
  float: right;
  border: none;
  height: 26px;
  padding: 4px 20px 0 20px;
  background: #f7941e;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

/* line 115, sass/checkout.scss */
.adress-choise fieldset {
  width: 622px;
  margin-bottom: 18px;
}
/* line 118, sass/checkout.scss */
.adress-choise fieldset input {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
}
/* line 121, sass/checkout.scss */
.adress-choise fieldset label {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 594px;
}
/* line 126, sass/checkout.scss */
.adress-choise .controls {
  text-align: left;
  margin: 0;
}
/* line 129, sass/checkout.scss */
.adress-choise .controls input {
  margin-left: 0;
}
/* line 134, sass/checkout.scss */
.adress-choise .payment-comment h3 {
  font-size: 21px;
  margin-bottom: 25px;
}
/* line 138, sass/checkout.scss */
.adress-choise .payment-comment textarea {
  width: 594px;
  height: 68px;
  border: 1px solid silver;
}

/* line 146, sass/checkout.scss */
.approve {
  width: 594px;
  margin-bottom: 40px;
}
/* line 149, sass/checkout.scss */
.approve header {
  margin-bottom: 0;
}
/* line 151, sass/checkout.scss */
.approve header h3 {
  margin-bottom: 15px;
}

@-webkit-keyframes Rotate {
  /* line 4, sass/cart.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 7, sass/cart.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* line 12, sass/cart.scss */
.scrolled-to-bottom .cart {
  position: static;
}

/* line 16, sass/cart.scss */
.cart {
  position: fixed;
  background: #fff;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 200;
}
/* line 23, sass/cart.scss */
.cart .panel {
  position: relative;
  background: #404040;
  height: 30px;
  color: #fff;
  font-weight: bold;
  z-index: 250;
}
/* line 30, sass/cart.scss */
.cart .panel .panel_in {
  cursor: pointer;
  overflow: hidden;
}
/* line 34, sass/cart.scss */
.cart .panel a {
  color: #fff;
  text-decoration: none;
}
/* line 38, sass/cart.scss */
.cart .panel .items {
  display: block;
  width: 130px;
  height: 25px;
  padding: 5px 0 0 0;
  text-align: center;
  float: left;
  background: #e66f50;
}
/* line 47, sass/cart.scss */
.cart .panel .refresh {
  position: absolute;
  right: 36px;
  width: 30px;
  height: 30px;
}
/* line 52, sass/cart.scss */
.cart .panel .refresh.active {
  background: url(../images/refresh.png) center center no-repeat;
  -webkit-animation-name: Rotate;
  -webkit-animation-duration: 1s;
  animation-name: Rotate;
  animation-duration: 1s;
}
/* line 60, sass/cart.scss */
.cart .panel .cart-order {
  position: absolute;
  top: 0;
  left: 130px;
  display: block;
  height: 25px;
  padding: 5px 20px 0 20px;
  float: left;
  background: #f3a062;
  z-index: 300;
  cursor: pointer;
}
/* line 72, sass/cart.scss */
.cart .panel .control {
  display: block;
  height: 25px;
  padding: 5px 20px 0 20px;
  float: right;
  font-family: kp_icons;
}
/* line 78, sass/cart.scss */
.cart .panel .control .close {
  display: none;
}
/* line 82, sass/cart.scss */
.cart .panel .control.active .open {
  display: none;
}
/* line 85, sass/cart.scss */
.cart .panel .control.active .close {
  display: block;
}
/* line 91, sass/cart.scss */
.cart .forsale {
  width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
  height: 240px;
  overflow-y: auto;
}
/* line 97, sass/cart.scss */
.cart .forsale .item {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 220px;
  padding: 0 52px 0 0;
  margin-bottom: 30px;
  overflow: hidden;
}
/* line 103, sass/cart.scss */
.cart .forsale .item img {
  display: block;
  float: left;
  width: 60px;
  height: auto;
}
/* line 109, sass/cart.scss */
.cart .forsale .item .desc {
  display: block;
  float: left;
  width: 140px;
  padding: 0 0 0 20px;
  margin-left: -3px;
}
/* line 115, sass/cart.scss */
.cart .forsale .item .desc .name {
  display: block;
  color: #202020;
  font-weight: bold;
  overflow-y: hidden;
  height: 40px;
}
/* line 122, sass/cart.scss */
.cart .forsale .item .desc .price {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #e66f50;
  margin-bottom: 10px;
}
/* line 130, sass/cart.scss */
.cart .forsale .item .desc .controls .inputs {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 62px;
  padding: 0;
  margin-right: 22px;
  border: 1px solid #e2e2e2;
}
/* line 137, sass/cart.scss */
.cart .forsale .item .desc .controls .inputs a {
  display: block;
  float: left;
  width: 20px;
  height: 22px;
  background: #e2e2e2;
  text-decoration: none;
  text-align: center;
  color: #808080;
}
/* line 147, sass/cart.scss */
.cart .forsale .item .desc .controls .inputs .count {
  display: block;
  float: left;
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 0;
  border: none;
  text-align: center;
}
/* line 158, sass/cart.scss */
.cart .forsale .item .desc .controls .delete {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: auto;
  font-family: kp_icons;
  text-decoration: none;
  color: #e2e2e2;
}

/* line 3, sass/login.scss */
.login-form {
  background: #4c7f82;
  width: 100%;
  height: 30px;
  overflow: hidden;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 12, sass/login.scss */
.login-form .login-form-left {
  float: left;
  width: 540px;
  margin-left: 80px;
  height: 30px;
}
/* line 17, sass/login.scss */
.login-form .login-form-left fieldset {
  padding-top: 3px;
  float: left;
}
/* line 20, sass/login.scss */
.login-form .login-form-left fieldset.fright {
  float: right;
}
/* line 23, sass/login.scss */
.login-form .login-form-left fieldset label {
  font-weight: bold;
}
/* line 26, sass/login.scss */
.login-form .login-form-left fieldset input {
  width: 156px;
  margin-left: 20px;
}
/* line 32, sass/login.scss */
.login-form .login-form-left .forgot-mess {
  position: relative;
  overflow: hidden;
  width: 540px;
  height: 25px;
  padding-top: 5px;
  background: #e66f4f;
  font-weight: bold;
  text-align: center;
}
/* line 41, sass/login.scss */
.login-form .login-form-left .forgot-mess.large {
  width: 750px;
  margin-left: -80px;
}
/* line 45, sass/login.scss */
.login-form .login-form-left .forgot-mess .close-little {
  float: right;
  font-family: kp_icons;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  position: relative;
  z-index: 1000;
}
/* line 57, sass/login.scss */
.login-form .login-form-right {
  float: right;
  width: 280px;
  padding-left: 40px;
  height: 30px;
}
/* line 62, sass/login.scss */
.login-form .login-form-right a {
  color: #fff;
  font-weight: bold;
  margin-left: 40px;
}
/* line 66, sass/login.scss */
.login-form .login-form-right a.forgot {
  display: block;
  margin-top: 5px;
}
/* line 71, sass/login.scss */
.login-form .login-form-right .mleft {
  margin-left: 60px;
}
/* line 74, sass/login.scss */
.login-form .login-form-right .input-black {
  background: #000;
  color: #fff;
  height: 30px;
  border: none;
  padding: 0 20px;
}
/* line 82, sass/login.scss */
.login-form .close {
  position: absolute;
  z-index: 9000;
  top: 4px;
  right: 10px;
  color: #fff;
  font-family: kp_icons;
  font-size: 20px;
  text-decoration: none;
}

/* line 1, sass/temp.scss */
.hidden {
  display: none;
}

/* registration form */
/* line 6, sass/temp.scss */
.registration-form {
  background: #f7941e;
  width: 100%;
  height: 30px;
  overflow: hidden;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 10, ../src/login.scss */
/* line 17, sass/temp.scss */
.registration-form .registration-form-left {
  position: relative;
  float: left;
  width: 540px;
  margin-left: 80px;
  height: 30px;
}

/* line 15, ../src/login.scss */
/* line 25, sass/temp.scss */
.registration-form .registration-form-left fieldset {
  padding-top: 3px;
  float: left;
}

/* line 18, ../src/login.scss */
/* line 30, sass/temp.scss */
.registration-form .registration-form-left fieldset.fright {
  float: right;
}

/* line 21, ../src/login.scss */
/* line 34, sass/temp.scss */
.registration-form .registration-form-left fieldset label {
  font-weight: bold;
}

/* line 24, ../src/login.scss */
/* line 38, sass/temp.scss */
.registration-form .registration-form-left fieldset input {
  width: 156px;
  margin-left: 20px;
}

/* line 30, ../src/login.scss */
/* line 43, sass/temp.scss */
.registration-form .registration-form-left .forgot-mess {
  overflow: hidden;
  position: absolute;
  width: 600px;
  height: 25px;
  padding-top: 5px;
  background: #e66f4f;
  font-weight: bold;
  text-align: center;
}

/* line 53, sass/temp.scss */
.registration-form .registration-form-left .forgot-mess.large {
  width: 750px;
  margin-left: -80px;
  height: 25px;
  padding-top: 5px;
  background: #e66f4f;
  font-weight: bold;
  text-align: center;
}

/* line 38, ../src/login.scss */
/* line 63, sass/temp.scss */
.registration-form .registration-form-left .forgot-mess .close-little {
  float: right;
  font-family: kp_icons;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

/* line 48, ../src/login.scss */
/* line 72, sass/temp.scss */
.registration-form .registration-form-right {
  float: right;
  width: 280px;
  padding-left: 40px;
  height: 30px;
}

/* line 53, ../src/login.scss */
/* line 79, sass/temp.scss */
.registration-form .registration-form-right a {
  color: #fff;
  font-weight: bold;
  margin-left: 40px;
}

/* line 57, ../src/login.scss */
/* line 85, sass/temp.scss */
.registration-form .registration-form-right a.forgot {
  display: block;
  margin-top: 5px;
}

/* line 62, ../src/login.scss */
/* line 90, sass/temp.scss */
.registration-form .registration-form-right .mleft {
  margin-left: 60px;
}

/* line 65, ../src/login.scss */
/* line 94, sass/temp.scss */
.registration-form .registration-form-right .input-black {
  background: #000;
  color: #fff;
  height: 30px;
  border: none;
  padding: 0 20px;
}

/* line 73, ../src/login.scss */
/* line 102, sass/temp.scss */
.registration-form .close {
  position: absolute;
  z-index: 9000;
  top: 4px;
  right: 10px;
  color: #fff;
  font-family: kp_icons;
  font-size: 20px;
  text-decoration: none;
}

/* line 113, sass/temp.scss */
span.field_with_errors input {
  background-color: #E66F50;
}

/* line 1, ../src/login.scss */
/* line 118, sass/temp.scss */
.restore-password-form {
  background: #4c7f82;
  width: 100%;
  height: 30px;
  overflow: hidden;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 10, ../src/login.scss */
/* line 129, sass/temp.scss */
.restore-password-form .restore-password-form-left {
  float: left;
  width: 540px;
  margin-left: 80px;
  height: 30px;
}

/* line 15, ../src/login.scss */
/* line 136, sass/temp.scss */
.restore-password-form .restore-password-form-left fieldset {
  padding-top: 3px;
  float: left;
}

/* line 18, ../src/login.scss */
/* line 141, sass/temp.scss */
.restore-password-form .restore-password-form-left fieldset.fright {
  float: right;
}

/* line 21, ../src/login.scss */
/* line 145, sass/temp.scss */
.restore-password-form .restore-password-form-left fieldset label {
  font-weight: bold;
}

/* line 24, ../src/login.scss */
/* line 149, sass/temp.scss */
.restore-password-form .restore-password-form-left fieldset input {
  width: 156px;
  margin-left: 30px;
}

/* line 30, ../src/login.scss */
/* line 154, sass/temp.scss */
.restore-password-form .restore-password-form-left .forgot-mess {
  overflow: hidden;
  width: 540px;
  height: 25px;
  padding-top: 5px;
  background: #e66f4f;
  font-weight: bold;
  text-align: center;
}

/* line 163, sass/temp.scss */
.restore-password-form .restore-password-form-left .forgot-mess.large {
  width: 750px;
  margin-left: -80px;
}

/* line 38, ../src/login.scss */
/* line 168, sass/temp.scss */
.restore-password-form .restore-password-form-left .forgot-mess .close-little {
  float: right;
  font-family: kp_icons;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  position: relative;
  z-index: 1000;
}

/* line 48, ../src/login.scss */
/* line 179, sass/temp.scss */
.restore-password-form .restore-password-form-right {
  float: right;
  width: 280px;
  padding-left: 40px;
  height: 30px;
}

/* line 53, ../src/login.scss */
/* line 186, sass/temp.scss */
.restore-password-form .restore-password-form-right a {
  color: #fff;
  font-weight: bold;
  margin-left: 40px;
}

/* line 57, ../src/login.scss */
/* line 192, sass/temp.scss */
.restore-password-form .restore-password-form-right a.forgot {
  display: block;
  margin-top: 5px;
}

/* line 62, ../src/login.scss */
/* line 197, sass/temp.scss */
.restore-password-form .restore-password-form-right .mleft {
  margin-left: 60px;
}

/* line 65, ../src/login.scss */
/* line 201, sass/temp.scss */
.restore-password-form .restore-password-form-right .input-black {
  background: #000;
  color: #fff;
  height: 30px;
  border: none;
  padding: 0 20px;
}

/* line 73, ../src/login.scss */
/* line 209, sass/temp.scss */
.restore-password-form .close {
  position: absolute;
  z-index: 9000;
  top: 4px;
  right: 10px;
  color: #fff;
  font-family: kp_icons;
  font-size: 20px;
  text-decoration: none;
}
