/* line 1, sass/temp.scss */
.hidden {
  display: none;
}

/* registration form */
/* line 6, sass/temp.scss */
.registration-form {
  background: #f7941e;
  width: 100%;
  height: 30px;
  overflow: hidden;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 10, ../src/login.scss */
/* line 17, sass/temp.scss */
.registration-form .registration-form-left {
  position: relative;
  float: left;
  width: 540px;
  margin-left: 80px;
  height: 30px;
}

/* line 15, ../src/login.scss */
/* line 25, sass/temp.scss */
.registration-form .registration-form-left fieldset {
  padding-top: 3px;
  float: left;
}

/* line 18, ../src/login.scss */
/* line 30, sass/temp.scss */
.registration-form .registration-form-left fieldset.fright {
  float: right;
}

/* line 21, ../src/login.scss */
/* line 34, sass/temp.scss */
.registration-form .registration-form-left fieldset label {
  font-weight: bold;
}

/* line 24, ../src/login.scss */
/* line 38, sass/temp.scss */
.registration-form .registration-form-left fieldset input {
  width: 156px;
  margin-left: 20px;
}

/* line 30, ../src/login.scss */
/* line 43, sass/temp.scss */
.registration-form .registration-form-left .forgot-mess {
  overflow: hidden;
  position: absolute;
  width: 600px;
  height: 25px;
  padding-top: 5px;
  background: #e66f4f;
  font-weight: bold;
  text-align: center;
}

/* line 53, sass/temp.scss */
.registration-form .registration-form-left .forgot-mess.large {
  width: 750px;
  margin-left: -80px;
  height: 25px;
  padding-top: 5px;
  background: #e66f4f;
  font-weight: bold;
  text-align: center;
}

/* line 38, ../src/login.scss */
/* line 63, sass/temp.scss */
.registration-form .registration-form-left .forgot-mess .close-little {
  float: right;
  font-family: kp_icons;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

/* line 48, ../src/login.scss */
/* line 72, sass/temp.scss */
.registration-form .registration-form-right {
  float: right;
  width: 280px;
  padding-left: 40px;
  height: 30px;
}

/* line 53, ../src/login.scss */
/* line 79, sass/temp.scss */
.registration-form .registration-form-right a {
  color: #fff;
  font-weight: bold;
  margin-left: 40px;
}

/* line 57, ../src/login.scss */
/* line 85, sass/temp.scss */
.registration-form .registration-form-right a.forgot {
  display: block;
  margin-top: 5px;
}

/* line 62, ../src/login.scss */
/* line 90, sass/temp.scss */
.registration-form .registration-form-right .mleft {
  margin-left: 60px;
}

/* line 65, ../src/login.scss */
/* line 94, sass/temp.scss */
.registration-form .registration-form-right .input-black {
  background: #000;
  color: #fff;
  height: 30px;
  border: none;
  padding: 0 20px;
}

/* line 73, ../src/login.scss */
/* line 102, sass/temp.scss */
.registration-form .close {
  position: absolute;
  z-index: 9000;
  top: 4px;
  right: 10px;
  color: #fff;
  font-family: kp_icons;
  font-size: 20px;
  text-decoration: none;
}

/* line 113, sass/temp.scss */
span.field_with_errors input {
  background-color: #E66F50;
}

/* line 1, ../src/login.scss */
/* line 118, sass/temp.scss */
.restore-password-form {
  background: #4c7f82;
  width: 100%;
  height: 30px;
  overflow: hidden;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 10, ../src/login.scss */
/* line 129, sass/temp.scss */
.restore-password-form .restore-password-form-left {
  float: left;
  width: 540px;
  margin-left: 80px;
  height: 30px;
}

/* line 15, ../src/login.scss */
/* line 136, sass/temp.scss */
.restore-password-form .restore-password-form-left fieldset {
  padding-top: 3px;
  float: left;
}

/* line 18, ../src/login.scss */
/* line 141, sass/temp.scss */
.restore-password-form .restore-password-form-left fieldset.fright {
  float: right;
}

/* line 21, ../src/login.scss */
/* line 145, sass/temp.scss */
.restore-password-form .restore-password-form-left fieldset label {
  font-weight: bold;
}

/* line 24, ../src/login.scss */
/* line 149, sass/temp.scss */
.restore-password-form .restore-password-form-left fieldset input {
  width: 156px;
  margin-left: 30px;
}

/* line 30, ../src/login.scss */
/* line 154, sass/temp.scss */
.restore-password-form .restore-password-form-left .forgot-mess {
  overflow: hidden;
  width: 540px;
  height: 25px;
  padding-top: 5px;
  background: #e66f4f;
  font-weight: bold;
  text-align: center;
}

/* line 163, sass/temp.scss */
.restore-password-form .restore-password-form-left .forgot-mess.large {
  width: 750px;
  margin-left: -80px;
}

/* line 38, ../src/login.scss */
/* line 168, sass/temp.scss */
.restore-password-form .restore-password-form-left .forgot-mess .close-little {
  float: right;
  font-family: kp_icons;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  position: relative;
  z-index: 1000;
}

/* line 48, ../src/login.scss */
/* line 179, sass/temp.scss */
.restore-password-form .restore-password-form-right {
  float: right;
  width: 280px;
  padding-left: 40px;
  height: 30px;
}

/* line 53, ../src/login.scss */
/* line 186, sass/temp.scss */
.restore-password-form .restore-password-form-right a {
  color: #fff;
  font-weight: bold;
  margin-left: 40px;
}

/* line 57, ../src/login.scss */
/* line 192, sass/temp.scss */
.restore-password-form .restore-password-form-right a.forgot {
  display: block;
  margin-top: 5px;
}

/* line 62, ../src/login.scss */
/* line 197, sass/temp.scss */
.restore-password-form .restore-password-form-right .mleft {
  margin-left: 60px;
}

/* line 65, ../src/login.scss */
/* line 201, sass/temp.scss */
.restore-password-form .restore-password-form-right .input-black {
  background: #000;
  color: #fff;
  height: 30px;
  border: none;
  padding: 0 20px;
}

/* line 73, ../src/login.scss */
/* line 209, sass/temp.scss */
.restore-password-form .close {
  position: absolute;
  z-index: 9000;
  top: 4px;
  right: 10px;
  color: #fff;
  font-family: kp_icons;
  font-size: 20px;
  text-decoration: none;
}
