<span class="cart-order" data-url="<%= checkout_path %>">Оформить заказ</span>
<div class="panel_in sp">
  <div class="items">Корзина(<%= current_order.item_count rescue 0 %>)</div>
  <div class="refresh"></div>
  <span class="control sp"><span class="open">w</span><span class="close">q</span></span>
  <!-- DECOR GRAY --><div class="gray_decor"></div>
</div>