<span class="cart-order">Оформить заказ</span>
<div class="panel_in sp">
  <div class="items">Корзина(<%= current_order.item_count rescue 0 %>)</div>
  <span href="" class="control sp"><span class="open">w</span><span class="close">q</span></span>
  <!-- DECOR GRAY --><div class="gray_decor"></div>
</div>