 <!-- .cart -->
  <% if current_order %>
    <section class="cart <%= 'hidden' if current_order.line_items.empty? %>">
  <% else %>
    <section class="cart hidden">
  <% end %>

    <!-- .panel -->
    <div class="panel">
      <%= link_to "Оформить заказ #{current_order.total rescue nil}", checkout_path, :class => 'cart-order' %>
      <div class="panel_in sp"><%= render 'shared/cart_panel' %></div>
    </div>
    <!-- /.panel -->

    <!-- .forsale -->
    <div class="forsale sp_show">
      <%= render 'shared/cart_items' %>
    </div>
    <!-- /.forsale -->

  </section>
  <!-- /.cart -->