<%= link_to "Оформить заказ #{current_order.total rescue nil}", checkout_path, :class => 'cart-order' %>
<div class="panel_in sp">
  <div class="items">Корзина(<%= current_order.item_count rescue 0 %>)</div>
  <a href="" class="control sp"><span class="open">w</span><span class="close">q</span></a>
  <!-- DECOR GRAY --><div class="gray_decor"></div>
</div>