<% 
unless defined? class_name
  class_name = nil
end

unless defined? label
  label = nil
end

has_errors = errors[name].present?
%>

<fieldset <% if has_errors %>class="fieldset-with-error js-fieldset-with-error"<% end %>>
  <%= form.label name, label %>
  <%= form.text_field name, :class => class_name %>
  <% if has_errors %>
    <span class="error-text"><%= errors[name][0] %></span>
  <% end %>
</fieldset>