<!-- sorting -->
<nav class="sorting">
  <ul>
    <li>Сортировка:</li>
    <li><a href="<%= request.path + '?sort=name' %>">по названию</a></li>
    <li><a href="<%= request.path + '?sort=price' %>">по цене</a></li>
    <li><a href="" class="none">по приветствию</a></li>
  </ul>
  <ul>
    <li>Материал:</li>
    <li><a href="" class="none">ПВХ</a></li>
    <li><a href="" class="none">текстиль</a></li>
    <li><a href="" class="none">кожа</a></li>
  </ul>
</nav>
<!-- /.sorting -->