<% params[:page] ? (page = "&page=#{params[:page]}") : (page = '') %>
<% order = "&order=#{!params[:order] || params[:order] == 'DESC' ? 'ASC' : 'DESC'}" %>

<!-- sorting -->
<nav class="sorting">
  <ul>
    <li>Сортировка:</li>
    <li>
      <%= link_to 'по названию', request.path + '?sort=name' + order + page, 
          class: params[:order] && params[:sort] == 'name' ? (params[:order] == 'ASC' ? 'up' : 'down') : 'none' %>
    </li>
    <li>
      <%= link_to 'по цене', request.path + '?sort=price' + order + page, 
          class: params[:order] && params[:sort] == 'price' ? (params[:order] == 'ASC' ? 'up' : 'down') : 'none' %></li>
    <li><a href="" class="none">по приветствию</a></li>
  </ul>
  <ul>
    <li>Материал:</li>
    <li><a href="" class="none">ПВХ</a></li>
    <li><a href="" class="none">текстиль</a></li>
    <li><a href="" class="none">кожа</a></li>
  </ul>
</nav>
<!-- /.sorting -->