<!-- sorting -->
<nav class="sorting">
  <ul>
    <li>Сортировка:</li>
    <li>
      <a href="<%= request.path + '?sort=name' + '&order=' + (!params[:order] || params[:order] == 'DESC' ? 'ASC' : 'DESC') %>" 
         class="<%= params[:order] && params[:sort] == 'name' ? (params[:order] == 'ASC' ? 'up' : 'down') : 'none' %>">по названию</a>
    </li>
    <li>
      <a href="<%= request.path + '?sort=price' + '&order=' + (!params[:order] || params[:order] == 'DESC' ? 'ASC' : 'DESC')  %>" 
         class="<%= params[:order] && params[:sort] == 'price' ? (params[:order] == 'ASC' ? 'up' : 'down') : 'none' %>">по цене</a></li>
    <li><a href="" class="none">по приветствию</a></li>
  </ul>
  <ul>
    <li>Материал:</li>
    <li><a href="" class="none">ПВХ</a></li>
    <li><a href="" class="none">текстиль</a></li>
    <li><a href="" class="none">кожа</a></li>
  </ul>
</nav>
<!-- /.sorting -->