<!-- catalogue -->
        <section class="catalogue">

          <header>
            <h2>Вам может это быть интересно</h2>
          </header>
          
          <!-- shop-item -->
          <div structure="product-preview" class="item" href="">
            <a href=""><img src="tmp/p-prev.png" alt="">
              <article>
                <span class="price">1680 р</span>
                <h2>Рыжая книжка</h2>
                <p>комплект из 3 книг, убрав из которых одну  — останется две</p>
              </article>
            </a>
            <a href="" class="add-to-cart">t</a>
          </div>
          <!-- /shop-item -->

          <!-- shop-item -->
          <div structure="product-preview" class="item" href="">
            <a href=""><img src="tmp/p-prev.png" alt="">
              <article>
                <span class="price">1680 р</span>
                <h2>Рыжая книжка</h2>
                <p>комплект из 3 книг, убрав из которых одну  — останется две</p>
              </article>
            </a>
            <a href="" class="add-to-cart">t</a>
          </div>
          <!-- /shop-item -->

          <!-- shop-item -->
          <div structure="product-preview" class="item" href="">
            <a href=""><img src="tmp/p-prev.png" alt="">
              <article>
                <span class="price">1680 р</span>
                <h2>Рыжая книжка</h2>
                <p>комплект из 3 книг, убрав из которых одну  — останется две</p>
              </article>
            </a>
            <a href="" class="add-to-cart">t</a>
          </div>
          <!-- /shop-item -->

          <!-- shop-item -->
          <div structure="product-preview" class="item" href="">
            <a href=""><img src="tmp/p-prev.png" alt="">
              <article>
                <span class="price">1680 р</span>
                <h2>Рыжая книжка</h2>
                <p>комплект из 3 книг, убрав из которых одну  — останется две</p>
              </article>
            </a>
            <a href="" class="add-to-cart">t</a>
          </div>
          <!-- /shop-item -->

          <!-- shop-item -->
          <div structure="product-preview" class="item" href="">
            <a href=""><img src="tmp/p-prev.png" alt="">
              <article>
                <span class="price">1680 р</span>
                <h2>Рыжая книжка</h2>
                <p>комплект из 3 книг, убрав из которых одну  — останется две</p>
              </article>
            </a>
            <a href="" class="add-to-cart">t</a>
          </div>
          <!-- /shop-item -->

          <!-- shop-item -->
          <div structure="product-preview" class="item" href="">
            <a href=""><img src="tmp/p-prev.png" alt="">
              <article>
                <span class="price">1680 р</span>
                <h2>Рыжая книжка</h2>
                <p>комплект из 3 книг, убрав из которых одну  — останется две</p>
              </article>
            </a>
            <a href="" class="add-to-cart">t</a>
          </div>
          <!-- /shop-item -->

          <!-- shop-item -->
          <div structure="product-preview" class="item" href="">
            <a href=""><img src="tmp/p-prev.png" alt="">
              <article>
                <span class="price">1680 р</span>
                <h2>Рыжая книжка</h2>
                <p>комплект из 3 книг, убрав из которых одну  — останется две</p>
              </article>
            </a>
            <a href="" class="add-to-cart">t</a>
          </div>
          <!-- /shop-item -->

          <!-- shop-item -->
          <div structure="product-preview" class="item" href="">
            <a href=""><img src="tmp/p-prev.png" alt="">
              <article>
                <span class="price">1680 р</span>
                <h2>Рыжая книжка</h2>
                <p>комплект из 3 книг, убрав из которых одну  — останется две</p>
              </article>
            </a>
            <a href="" class="add-to-cart">t</a>
          </div>
          <!-- /shop-item -->

        </section>
        <!-- /catalogue -->