<!-- .sh-panel -->
<section class="restore-password-form hidden">
  <div class="wrap">
    <%= form_for User.new, :as => :user, :url => user_password_path, remote: true do |f| %>
      <!-- left part -->
      <div class="restore-password-form-left">
        <div class="forgot-mess hidden">
          <span class="error"></span>
          <a href="" class="close-little">p</a>
        </div>

        <fieldset>
          <%= f.label :email, 'Электронная почта указанная при регистрации' %>
          <%= f.text_field :email %>
        </fieldset>
      </div>
      <!-- left part -->
      <!-- left part -->
      <div class="restore-password-form-right">
        <input type="submit" class="input-black" value="Напомнить пароль">
      </div>
      <!-- left part -->
    <% end %>
  </div>
  <a href="" class="close">p</a>
</section>
<!-- .sh-panel -->