<% @tags = Tag.all.select {|tag| tag.products.not_deleted.present? } %>
<!-- .content -->
<section class="site-content">
  <div class="white-wrap">
    <div class="wrap">

        <section class="errorpage">
            <h1><%= t(:page_not_found) %> (404)</h1>
            
            <p>Запрошенному вами URL не соответствует ни одна страница сайта.</p>
        </section>

        <% if @tags && !@tags.empty? %>
          <aside class="tags">
            <ul>
              <% @tags.each do |tag| %>
                <% if tag.name != '' %>
                <li><%= link_to tag.name, products_tags_path(tag.name) %></li>
                <% end %>
              <% end %>
            </ul>
          </aside>
        <% end %>

    </div>
    <!-- /.wrap -->
  </div>
  <!-- /.white-wrap -->
</section>
<!-- /.content -->

