<!-- .content -->
<div class="site-content-wrap">
  <section class="site-content">
    <div class="white-wrap">
      <div class="wrap">
      
        <!-- .account -->
        <section class="account">
          <header>
            <h1>Моя учетная запись</h1>
            <span class="nickname"><%= current_user.email %></span>
            <%= link_to 'Изменить', edit_account_path %>
          </header>
        </section>
        <!-- /.account -->

        <!-- .adresses -->
        <section class="forms addresses">
          <header>
            <h3>Адреса</h3>
            <%= link_to 'Добавить', new_address_path %>
          </header>
          
          <%= render 'address_form' %>

        </section>
        <!-- /.adresses -->

        </div>
      <!-- /.wrap -->
    </div>
    <!-- /.white-wrap -->
  </section>
</div>
<!-- /.content -->


