.checkout {
  position: relative;
  header {
    margin-bottom: 45px;
    h3 {
      @include inline-block;
      vertical-align: middle;
      font-size: 21px;
    }
    a {
      @include inline-block;
      vertical-align: middle;
      margin-left: 25px;
    }
  }
  .summary {
    position: absolute;
    top: 40px;
    right: 0; 
    width: 230px;
    padding: 20px;
    background: #f8f8f8;
    h3 {
      font-size: 16px;
      font-weight: bold;
      color: #808080;
    }
    .item {
      overflow: hidden;
      color: #202020;
      .name {
        float: left;
      }
      .price {
        float: right;
        font-weight: bold;
      }
      &.all {
        font-size: 18px;
        padding-top: 15px;
        margin-top: 15px;
        border-top: 1px solid #c0c0c0;
      }
    }
  }
}

.adress-choise {
  fieldset {
    width: 622px;
    margin-bottom: 18px;
    input {
      @include inline-block;
    }
    label {
      @include inline-block;
      width: 594px;
    }
  }
  .controls {
    text-align: left;
    margin: 0;
    input {
      margin-left: 0;
    }
  }
  .payment-comment {
    h3 {
      font-size: 21px;
      margin-bottom: 25px;
    }
    textarea {
      width: 594px;
      height: 68px;
      border: 1px solid #c0c0c0;
    }
  }
}

.approve {
  width: 594px;
  margin-bottom: 60px;
  header {
    margin-bottom: 0;
    h3 {
      margin-bottom: 25px;
    }
  }
}