.promo {
  margin-bottom: 80px;
  position: relative;
  .baners {
    border: 1px solid #f7941e;
    padding: 20px 0 20px 50px;
    height: 298px;
    .item {
      width: 820px;
      margin: 0 auto;
      z-index: 1000;
      image {
        @include inline-block;
      }
      article {
        @include inline-block;
        width: 480px;
        margin-left: 36px;
        padding: 26px 0 0 0;
        hgroup {
          margin: 0 0 16px 0;
          h2 {
            font-size: 48px;
            margin: 0 0 20px 0;
          }
          h3 {
            font-size: 21px;
          }
        }
        .price {
          display: block;
          color: #4c7f82;
          font-weight: bold;
          font-size: 21px;
          margin-top: 22px;
        }
      }
    }
  }
  .baners-nav {
    width: 540px;
    position: absolute;
    top: 300px;
    right: 0;
    z-index: 100;
    li {
      @include inline-block;
      margin-left: 10px;
      &.current {
        a {
          color: #f7941e;
          background: #f7941e;
        }
      }
      &:first-child {
        margin-left: 0;
      }
      a {
        display: block;
        width: 19px;
        height: 19px;
        border-radius: 50%;
        border: 1px solid #f7941e;
        font-size: 12px;
        text-decoration: none;
        color: #fff;
        &:hover {
          background: #f7941e;
          color: #f7941e;
        }
      }
    }
  }
  .baners-nav-ctl {
    height: 50px;
    padding-top: 30px;
    font-family: kp_icons;
    font-size: 26px;
    text-decoration: none;
    color: #f7941e;
  }
  .baners-nav-left {
    position: absolute;
    top: 138px;
    padding-left: 12px;
    left: 0;
    &:hover {
      padding-left: 7px;
      border-left: 5px solid #f7941e;
    }
  }
  .baners-nav-right {
    position: absolute;
    top: 138px;
    padding-right: 12px;
    right: 0;
    &:hover {
      padding-right: 7px;
      border-right: 5px solid #f7941e;
    }
  }
}