@import 'compass';
@import 'compass/reset';

$module-width: 20px;
$atomx: 26px;
$atomy: 20px;

$color: green;

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

.panel {
  nav {
    ul {
      li {
        a {
          color: red;
        }
      }
    }
  }
  .phone {
    color: green;
  }
  .login {
    a {
      color: blue;
    }
  }
}