<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<script type="text/javascript">
	new Ya.share({
		element : 'ya_share',
		elementStyle : {
			'type' : 'none',
			'quickServices' : ['vkontakte', 'facebook', 'twitter']
		},
		image : 'http://<%= Spree::Config[:site_url] %>/images/apple-touch-icon.png'
	}); 
</script>
<div id="ya_share"></div>