<!-- .content -->
  <section class="site-content">
    <div class="white-wrap">
      <div class="wrap">

        <%= render 'shared/login' %>

      </div>
      <!-- /.wrap -->
    </div>
    <!-- /.white-wrap -->
  </section>
<!-- /.content -->