<!-- .footer -->
  <footer class="site-footer">
    <div class="wrap">

      <nav>
        <ul>
          <li><a href="info#about">О нас</a></li>
          <li><a href="info#contacts">Адреса магазинов</a></li>
          <li><a href="info#contacts">Поставщикам</a></li>
          <li><a href="info#contacts">Опт</a></li>
        </ul>
      </nav>

      <div class="foot-right">
        <span class="phone">
          715 33 07<br>
          988 88 34
        </span>
        <span class="mail"><a href="">info@knigipodarki.ru</a></span>
        <a href="" class="social"><img src="/images/foot-vk.png"></a>
        <a href="" class="social"><img src="/images/foot-facebook.png"></a>
        <a href="" class="social"><img src="/images/foot-twitter.png"></a>
      </div>

      <div href="" class="devs">
        <span class="dev_in">Разработано в</span>
        <a href="">
          <span class="name">whitescape.com</span>
          <span class="logo">
            <img src="images/devs_logo.png" alt="">
          </span>
        </a>
      </div>

    </div>
  </footer>
<!-- /.footer -->