<!-- .site-header -->
  <header class="site-header">

    <!-- .sh-panel -->
    <section class="panel">
      <div class="wrap">

        <nav>
          <ul>
            <li><a href="info#about">О нас</a></li>
            <li><a href="info#payment">Как покупать</a></li>
            <li><a href="info#delivery">Доставка</a></li>
            <li><a href="info#contacts">Контакты</a></li>
          </ul>
        </nav>

        <!-- .sh-login -->
        <div class="login">
          <!-- <a href="" class="l-login">Войти</a> -->
          <%= link_to 'Войти', login_path, class: 'l-login' %>
          <a href="" class="l-registration">Зарегистрироваться</a>          
          </div>
        </div>
        <!-- /.sh-login -->

        <div class="phone">+7 947 614-25-18</div><!-- .sh-phone -->

      </div>
    </section>
    <!-- .sh-panel -->

    <!-- .navigation -->
    <section class="navigations wrap">

      <div class="wrap-row">
        <a href="" class="logo"><img src="images/logo.png" alt=""></a>
        
        <nav class="search">
          <form action=""><input type="text" placeholder="Что ни будь"><input type="submit" value="3"></form>
        </nav>
      </div>

      <!-- .direction-nav -->
      <nav class="direction-nav">
        <ul>
          <li><a href="">все</a></li>
          <li class="current"><a href="">Книги</a></li>
          <li><a href="">Канцелярия</a></li>
          <li><a href="">Аксессуары</a></li>
          <li><a href="">на паспорт</a></li>
          <li><a href="">Интерьер</a></li>
          <li><a href="">Игры</a></li>
          <li><a href="">Другое</a></li>
          <li><a href="">Издательтсва</a></li>
          <li><a href="">Дизайнеры</a></li>
        </ul>
      </nav>
      <!-- /.direction-nav -->

    </section>
    <!-- /.navigation -->

  </header>
<!-- /.site-header -->