<!-- .footer -->
  <footer class="site-footer">
    <div class="wrap">

      <nav>
        <ul>
          <li><a href="/info#about">О нас</a></li>
          <li><a href="/info#about">Адреса магазинов</a></li>
          <li><a href="/info#business">Поставщикам</a></li>
          <li><a href="/info#business">Опт</a></li>
        </ul>
      </nav>

      <div class="foot-right">
        <span class="phone">
           + 7 812 715-33-07<br>
           + 7 812 980-77-26<br>
           skype: <a href="skype:knigipodarki?call">knigipodarki</a>
        </span>
        <span class="mail"><a href="mailto:info@knigibodarki.ru">info@knigipodarki.ru</a></span>
        <a href="https://vk.com/knigipodarki" class="social"><img src="/images/foot-vk.png"></a>
        <a href="http://www.facebook.com/knigipodarki" class="social"><img src="/images/foot-facebook.png"></a>
        <a href="https://twitter.com/knigipodarki" class="social"><img src="/images/foot-twitter.png"></a>
        <a href="http://instagram.com/knigipodarki" class="social"><img src="/images/foot-instagram.png"></a>
      </div>

      <div href="" class="devs">
        <span class="dev_in">Разработано в</span>
        <a href="http://whitescape.com">
          <span class="name">Whitescape</span>
          <span class="logo">
            <img src="/images/devs_logo.png" alt="">
          </span>
        </a>
      </div>

    </div>
  </footer>
<!-- /.footer -->