<!-- .footer -->
  <footer class="site-footer">
    <div class="wrap">

      <nav>
        <ul>
          <li><a href="info#about">О нас</a></li>
          <li><a href="info#contacts">Адреса магазинов</a></li>
          <li><a href="info#contacts">Поставщикам</a></li>
          <li><a href="info#contacts">Опт</a></li>
        </ul>
      </nav>

      <div class="foot-right">
        <span class="phone">+7 987 654-32-12</span>
        <span class="phone">+7 987 654-32-12</span>
        <span class="mail"><a href="">info@knigipodarki.ru</a></span>
        <a href="" class="social"><img src="images/foot-vk.png"></a>
        <a href="" class="social"><img src="images/foot-facebook.png"></a>
        <a href="" class="social"><img src="images/foot-twitter.png"></a>
      </div>

    </div>
  </footer>
<!-- /.footer -->